[2015-05-20 01:43] jawngee opened #1 "Typing in either field in the dialog causes Sketch to crash."
Using both Sketch 3.3.1 or 3.3.2:

- Select elements to link for flow
- Run the plugin
- After the dialog appears, typing anything on the keyboard causes Sketch to crash

Note that even if I hit cancel, Sketch will crash on any keyboard input afterwards.

I'm not sure if this is your plugin per se, or Sketch itself.  But I use other plugins with dialogs and don't have this issue at all.

[2015-05-20 02:10] abynim commented on #1
The plugin uses the new format that was introduced in Sketch 3.3. It will
not work in earlier versions. Please update Sketch to the latest version if
possible and let me know if the problem persists.

On Wednesday, May 20, 2015, Jon Gilkison <notifications@github.com> wrote:

[2015-05-20 02:11] jawngee commented on #1
Sorry that was a typo when I entered the issue.

This is happening with the 3.3.1 and 3.3.2 (on my machine at least).

On Wed, May 20, 2015 at 9:10 AM, Aby Nimbalkar <notifications@github.com>
wrote:

--

jon gilkison
principal, interfacelab
c: 347.645.0177
t: http://twitter.com/interfacelab
b: http://interfacelab.com/

[2015-05-20 03:20] abynim commented on #1
Does this happen with any Sketch file or with a specific Sketch file? Are you on Mavericks or Yosemite?
I can't reproduce this at my end so might need your help to debug. Can you send me the file you're having trouble with? aby [at] silverux [dot] com.

[2015-05-20 04:43] jawngee commented on #1
I've actually been able to reproduce.  It will crash if I have an extra
blank page with no artboards on it.  Will send a Sketch file to you.

On Wed, May 20, 2015 at 10:20 AM, Aby Nimbalkar <notifications@github.com>
wrote:

--

jon gilkison
principal, interfacelab
c: 347.645.0177
t: http://twitter.com/interfacelab
b: http://interfacelab.com/

[2015-05-20 04:46] abynim commented on #1
Perfect. I could reproduce it. Will add a fix in a bit. Thanks!

[2015-05-20 07:06] abynim commented on #1
Pushed a fix for this. Thanks @jawngee for your help with debugging.

[2015-05-20 07:06] #1 closed

[2015-11-03 16:42] mydudechris opened #3 "Feature request: Add top to bottom flow direction"
Would it be possible to add an option that allows users to specify the direction of the flow diagram? For example, I'm using this plugin with a desktop design and the long, left to right, flow of the PDF is a little awkward to share. It'd be awesome if I could tell the plugin to generate a top to bottom flow that coincided with the natural flow of a multipage PDF document.

[2015-11-04 15:06] abynim commented on #3
@mydudechris Thanks for the suggestion! I've added this feature in a branch here: https://github.com/abynim/UserFlows/tree/flow-direction

Since it's not a common feature I've made it a setting for now. You can switch to `Vertical` flow direction in the Settings dialog and then try exporting your flows.

Would you please test it and let me know if it works as expected? Will wait for you to confirm

[2015-11-20 13:11] SanderWehkamp opened #4 "Feature request: Annotation description per page"
I would like to be able to set description per page. Now i make them manually. Just underneath the image would be great!

[2015-12-11 17:04] rpt1700 opened #5 "Plugin not working in Sketch v3.4.4"
I updated to Sketch 3.4.4. When I attempt to generate a flow, the flow is generated incorrectly (a small artboard with nothing on it) on the incorrect page (always generates on the currently active page).

[2015-12-11 17:12] ejschmidt opened #6 "Plugin broken in v3.4.4"
I too have discovered User Flow is broken with the v3.4.4 update to sketch. I LOVE this plugin! It saves me hours, and I DEPEND on it.
On "Generate", app creates a tiny/empty artboard on the current page. It ignores commands to create a new page, or load into another page.

[2015-12-13 16:47] abynim commented on #6
Just pushed a fix. Please replace the existing plugin bundle with the updated version from here: https://github.com/abynim/UserFlows/archive/master.zip – And let me know if it works for you.

[2015-12-13 16:48] abynim commented on #5
Thanks for reporting the issue. I believe it's been fixed in this latest update: https://github.com/abynim/UserFlows/archive/master.zip – Let me know if it still gives you any trouble.

[2015-12-14 17:07] ejschmidt commented on #6
Aby—

YES!!! Thank you so much for fixing this. I really have become quite dependent on this plugin to keep my work flowing (pun intended). What a great treat to start my Monday morning. On the way into the office I was thinking about how much time today I would waste building flows manually, and how could I make it any faster. You saved my Monday for sure. If there is somewhere to add a positive

[2015-12-14 19:11] rpt1700 commented on #5
Works like a charm. Thanks Aby!

...and seriously, thank you for this plugin. It saves me an incredible
amount of time.

- Art

On Sun, Dec 13, 2015 at 8:48 AM, Aby Nimbalkar <notifications@github.com>
wrote:

--
Art

[2015-12-14 19:20] abynim commented on #6
Awesome! Great to know that you find the plugin useful. I was hoping to fix it over the weekend, just in time for Monday madness :) Glad it all worked out!

[2015-12-14 19:20] #6 closed

[2015-12-14 19:23] abynim commented on #5
You're welcome!

[2015-12-14 19:23] #5 closed

[2015-12-14 20:26] abynim commented on #4
@SanderWehkamp I just added this feature. Please check the ReadMe file to see how to use it, and let me know if it is similar to what you were expecting. Get the latest version from the repository: https://github.com/abynim/UserFlows/archive/master.zip

[2016-01-26 15:47] #4 closed

[2016-01-26 15:47] #3 closed

[2016-03-04 01:03] wilsoniwano opened #8 "Plugin not working in Sketch 3.6.1"
Hi there.

UserFlows isn't working in Sketch 3.6.1.
I think this plugin is very useful.
Is there a fix for this issue?

Thanks!

[2016-03-06 06:10] abynim commented on #8
@wilsoniwano I tested the plugin in 3.6.1 and it seemed to work fine. What part is broken for you? Try deleting and installing the plugin again, just to be sure :)

[2016-04-15 12:06] SanderWehkamp commented on #4
Late Reply, But its nice thank you.

[2016-04-20 13:35] #8 closed

[2016-05-19 13:41] wmdzign opened #9 "Not Sketch 3.8 compatible?"
Just tried using User Flow after the latest Sketch update and it didn't work.

[2016-05-19 18:40] abynim commented on #9
@wmdzign: I just pushed an update. Let me know if you run into any issues.

[2016-05-19 18:47] wmdzign commented on #9
Thanks for the quick update!

[2016-05-20 08:42] #9 closed

[2016-05-21 06:52] emkey opened #11 "User Flow stopped working on Sketch 3.8.1"
UserFlows stopped working on sketch 3.8.1. It creates the bitmaps but the it does not export it to the proper page designated and the does not create a proper canvas

[2016-07-15 06:08] nicksinthemix commented on #11
![screen shot 2016-07-15 at 4 08 06 pm](https://cloud.githubusercontent.com/assets/10508885/16865217/5c95bb6a-4aa6-11e6-8fba-50ea0d474283.png)

I think I am seeing the same thing

[2016-07-20 15:02] wmdzign opened #12 "User flow not working for Sketch version 39"
User flow not working for Sketch version 39...latest release

[2016-07-20 18:22] abynim commented on #12
@wmdzign just published a fix. Please let me know if it works after updating.

[2016-07-21 13:09] NinaHH commented on #12
@abynim
unfortunately Sktech crashed after creating a user flow

[2016-07-21 13:48] wmdzign commented on #12
Yes, it's crashing for me too.

[2016-07-21 14:31] wmdzign commented on #12
for me I see it create the new artboard then it crashes.

[2016-07-21 16:21] NinaHH commented on #12
it always crashes
Process:               Sketch [1270]
Path:                  /Applications/Sketch.app/Contents/MacOS/Sketch
Identifier:            com.bohemiancoding.sketch3
Version:               39 (31667)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Sketch [1270]
User ID:               2053284590

Date/Time:             2016-07-21 18:20:28.721 +0

[2016-07-25 06:06] abynim commented on #12
I cannot reproduce this in Sketch 39 and 39.1. Could you please paste a screenshot of the User Flows Settings window, in case it's a specific setting that's causing the crash? This one:
![userflows settings](https://cloud.githubusercontent.com/assets/7082849/17091857/dc78f118-5270-11e6-808a-2c79dc20ab08.png)

[2016-07-25 15:11] wmdzign commented on #12
<img width="481" alt="screen shot 2016-07-25 at 11 10 08 am" src="https://cloud.githubusercontent.com/assets/19472480/17106214/8a4c7a3a-5258-11e6-989f-b39aeb84840f.png">

[2016-07-27 18:12] wmdzign commented on #12
still no solution to this issue?

[2016-12-01 16:31] ghost opened #14 "UserFlows doesn't work on Sketch 4.xx"
Can't create user flow links with the latest version of Sketch 4.xx.
![screen shot 2016-12-01 at 11 29 47 am](https://cloud.githubusercontent.com/assets/1034468/20802280/97bd533a-b7b9-11e6-94fa-0e59aaa430f0.png)

[2016-12-02 03:09] abynim commented on #14
To create a link you must select a layer and the destination artboard before running the command. It should work with Sketch 41.xx and above.

[2016-12-02 03:30] ghost commented on #14
I followed exactly as your video. It doesn't work.

[2016-12-02 04:09] abynim commented on #14
Is the destination artboard or link layer a Symbol? Also, please try restarting Sketch just to make sure it's not a problem with the selection context.

[2016-12-02 14:22] ghost commented on #14
Yes, they're symbols. I have tried restarted sketch multiple times after I installed the plugin.

[2016-12-02 15:10] abynim commented on #14
Does it work when Symbols are not involved? Could you please try it with a regular layer as a link and a regular artboard as the destination? Thanks for helping debug btw 👍

[2016-12-02 15:19] ghost commented on #14
I have tried linking shapes, text, bmps, and layers. Nothing works.

[2016-12-02 15:37] abynim commented on #14
Can you make a quick screencast of what you're doing? I have no other way to recreate the issue. It seems to be working for everyone else so far!

[2016-12-02 15:41] ghost commented on #14
I can't do a screencast right now but here's a screenshot:
![sketch](https://cloud.githubusercontent.com/assets/1034468/20839795/e7a63c8c-b87b-11e6-837f-4127b6fed32e.png)

[2016-12-02 15:41] #14 closed, assigned to nobody

[2016-12-03 03:51] abynim commented on #14
@kainproductions You can only link a layer to an artboard. In this screenshot you're trying to link a layer to another layer. That will not work. Select the grey rectangle, then select the second artboard, then run the command again.

[2016-12-05 01:25] abynim commented on #12
Could not reproduce this issue. Please try the latest version of the plugin and let me know if the issue still persists.

[2016-12-05 01:25] #12 closed

[2016-12-05 01:26] abynim commented on #11
Please use the latest version of the plugin.

[2016-12-05 01:26] #11 closed

[2016-12-07 15:39] kieronkeenan opened #16 "FYI: Don't install via Sketch toolbox.. yet."
Tried to install latest version via Sketch toolbox but I don't think it has been updated yet.

Just download  the sketch plugin file from here and double click to install. Working brilliantly.

Thanks Aby!

[2016-12-07 17:17] ryanbelisle opened #17 "Feature Request: Ability to assign a link to a nested symbol"
@abynim First I want to say awesome plugin!!! This is really going to help to create quick 1-off flows for UX reviews.

Personally, I create flows using symbols containing multiple elements & nested symbols (E.g. 1 Symbol that includes Page Title, Back button & Search button) that I replicate across any # of Artboards.

If there was a way to assign the Link start point to a nested symbol element t

[2016-12-07 18:31] edwardsdesign opened #18 "Request: Update Generated Flow Diagram"
Ability to update an existing flow diagram without having to generate a complete new one with title and description.

Also, this is a great plugin, thank you for making this!

[2016-12-07 21:55] JasonOber opened #19 "Generate Flow Diagram breaking for me"
Hi there!

Really lovely plugin. So, so simple to set up and use. It worked well at first, but on a new project I made from scratch it broke a little. I'm confused and could use some help.

Here is a screenshot of how my flow is set up currently:

![mae enrollment user flow dec 7](https://cloud.githubusercontent.com/assets/24442870/20988071/ad2c68d4-bc94-11e6-874c-c4b03e51aeaa.png)

Here is the re

[2016-12-08 01:35] abynim commented on #19
@JasonOber could you please confirm that the `Start from` value has been set to your `start` artboard in the Generate Flow dialog? It looks like the flow is not being generated from the correct artboard.
![generate_flow](https://cloud.githubusercontent.com/assets/7082849/20994179/df858cb2-bd29-11e6-9c4f-e1da4cfeba62.png)

[2016-12-08 01:45] abynim commented on #17
Currently there is no way to achieve this since it is not possible to manually select a nested symbol within a symbol instance. I definitely see the value in being able to do that though.
For now the only options are to either break apart the symbols (not ideal at all) or to draw a transparent rectangle over the symbol instance and use that as the link (pretty annoying) 🤓

[2016-12-08 13:03] JasonOber commented on #19
Yep! Here's what I can see as options, and the result I showed above was set to the "Start" board.

<img width="1057" alt="screen shot 2016-12-08 at 7 01 35 am" src="https://cloud.githubusercontent.com/assets/24442870/21010928/57bd09d2-bd14-11e6-836d-5bc7e123dab5.png">

PS - Beautiful baby in your pic. Congrats. =)

[2016-12-08 14:06] gainnsopro opened #20 "How can I set quickly flow arrow border thickness?"
I want to change default arrow border 3 to 7. Can I quickly change it? Or Do I have to separately choose layer of flow arrow?
Great works, thanks for this plugin.

[2016-12-08 14:08] gainnsopro commented on #20
I want to change default arrow border 3 to 7. Can I quickly change it? Or Do I have to separately choose layer of flow arrow?

[2016-12-08 15:44] abynim commented on #20
You can change the border thickness in the plugin's source here:
https://github.com/abynim/UserFlows/blob/v2/UserFlows.sketchplugin/Contents/Sketch/script.js#L858
Change `setThickness(3*exportScale)` to `setThickness(7*exportScale)`

You might then also want to make the arrow larger. Do that here:
https://github.com/abynim/UserFlows/blob/v2/UserFlows.sketchplugin/Contents/Sketch/script.js#L863

[2016-12-08 16:04] edwardsdesign commented on #20
How about adding line thickness and arrow size to the User Flow settings screen?

[2016-12-09 01:42] abynim commented on #19
Thanks @JasonOber :)
Wow, that's very strange behavior. Would you be able to send me a copy of this Sketch document to abynimbalkar [at] gmail [dot] com?

[2016-12-09 06:52] gainnsopro commented on #20
Thanks @abynim  I also agree with @edwardsdesign At first, I searched user flow settings screen.

[2016-12-09 16:53] JasonOber commented on #19
Right?! Just sent it. =)

[2016-12-09 21:51] Oasisontheplains opened #22 "Possible to remove bounding box around element? So its just the dot."
![image](https://cloud.githubusercontent.com/assets/7041928/21065693/f332804e-be1e-11e6-9bfa-3dc84244e97a.png)

[2016-12-11 05:14] abynim commented on #22
Added a setting for this in version 2.0.1. Please reinstall the plugin to test 👍

[2016-12-11 05:14] #22 closed, assigned to nobody

[2016-12-11 05:14] abynim commented on #20
Added a setting for this in version 2.0.1. Please reinstall the plugin to test 👍

[2016-12-11 05:14] #20 closed, assigned to abynim

[2016-12-11 05:16] abynim commented on #19
@JasonOber thanks for sending over the Sketch doc. I've fixed this issue in version 2.0.1. Please reinstall the plugin and let me know if it works after that. 👍

[2016-12-11 12:34] doefler commented on #19
Hey @abynim
Thank you for an awesome plugin 😄
I have a similar issue, I have linked 5 screens, but only 3 of them appear in the flow chart.
Just update the plugin and still same error.

[2016-12-11 13:46] abynim commented on #19
@doefler is it possible to email me the Sketch doc? That's the easiest way to debug. abynimbalkar [at] gmail [dot] com. Thanks!

[2016-12-11 20:59] operasghost opened #23 "flows 2 doesn´t work on OS Sierra"
**# Description**

Flows 2 doesn´t generate the flow diagrams when I try to do it. It simply does´nt do nothing on sketch Version 41.2 (35397). Even after I quit sketch, instal it and restart the computer.

[2016-12-12 04:24] abynim commented on #23
@operasghost could you possibly record a quick screencast of this behavior? I have the same configuration and it works as expected, so some more details would be useful in reproducing the issue.

[2016-12-12 15:01] edwardsdesign commented on #20
The settings appear to be working as expected. I was able to change the color and stroke size through the new settings feature.

Tested on macOS Sierra 10.12.1 (16B2555) and Sketch 41.2 (35397)

[2016-12-13 11:12] Adam-CS opened #24 "Feature-Request: Avoid connection lines to cross over artboards"
Hi and congrats!
Awesome plugin!
I would completely fall in love with this plugin if the generated flow boards didn't look like spaghetti monster porn.
It would be great if there was a way to keep the connection lines from crossing over the artboards but instead move in the space in between the artboards either automatically or manually by hand.
I understand this isn't at all easy but I think it w

[2016-12-13 17:09] davewhitley opened #25 "Feature Request: Link 2 artboards"
It would be nice for the ability to link 2 artboards without needing a layer. Frequently, I need to show the flow between 2 screens over a period of time, without a click action.

![screen shot 2016-12-13 at 11 08 22 am](https://cloud.githubusercontent.com/assets/618551/21150447/9b88e514-c124-11e6-8842-8aa71958238f.png)

[2016-12-13 17:55] Adam-CS commented on #25
I do this by having a background shape as big as the artboard at the bottom of the layer stack, then I use that to connect to the next artboard. The finale effect is to have a border around the starting artboard which is not very invasive.

[2016-12-13 18:03] Adam-CS opened #26 "Starting Board to generate separate flow not working"
Hi, I have several processes on the same sketch page with different and independent flows not connected to each other.
The boards that start each process have this naming patten:
- Home (the first designed)
- Home Medic
- Home Housing
When I try generating the flow diagram from the 'Home' process all is ok. If I try generating a diagram from the other two it will pick a random artboard of the firs

[2016-12-13 19:33] davewhitley commented on #25
Nice, that is a very good solution!

On Dec 13, 2016, 11:55 AM -0600, Adam-CS <notifications@github.com>, wrote:

[2016-12-14 00:36] abynim commented on #26
There was a bug with the dropdown for selecting the start screen, which I assumed to be fixed in the most recent update. Can you please confirm that you have version 2.0.1 of the plugin? Check by going to `Sketch > Preferences > Plugins`.
![plugins](https://cloud.githubusercontent.com/assets/7082849/21165092/0adb22de-c1d8-11e6-9aa0-30805516603b.png)

If you have the latest version but you're still

[2016-12-14 00:40] abynim commented on #25
@drw158 that is currently not possible. The plugin expects your selection to include one layer and one artboard, and that's how it figures out what connects to what. If both items in your selection were artboards, the plugin would not know which of them is the source and which is the destination.

The workaround that @Adam-CS suggested is the only way to go (at least for now) 👍

[2016-12-14 08:39] theiwaz opened #27 "Hide connections doesn't hide conditions"
I hide the connections before exporting to Invision, that works fine though my conditions aren't hidden and are uploaded to invision. Would be nice to have those hidden as well, saves me having to delete them in Invision afterwards.

[2016-12-14 08:52] abynim commented on #27
Great point @theiwaz! Hiding condition artboards may not be possible without losing the information they contain. To prevent the artboard from syncing to InVision you can add a `-` prefix to the artboard name. In the next update I will make this the default way of naming condition artboards. Thanks for the feedback!

[2016-12-14 11:57] ctwhome commented on #23
It does't work for me neither. Version Sketch 41.2 (35397) OS Sierra. Just installed and calling the menu Generate Flow.... it does not do anything

[2016-12-14 12:01] ctwhome commented on #23
Ah, ok so... if you install it from sketch toolbox I does not work. Download it from the webpage and install it with double click on the plugin. Then you get the latest version that works.

[2016-12-14 12:04] abynim commented on #23
Yes, Sketch Toolbox is linking to an older version of the plugin. Thanks for reporting back with the solution @ctwhome.

[2016-12-14 12:04] operasghost commented on #23
That´s what I did. But I found the problem. You can create the flows but only if you use the shortcut. If you go to the plugin bla, bla,.. menu it won’t work.

[2016-12-14 12:05] operasghost commented on #23
Thank you for answering Nimbalkar

[2016-12-14 12:11] abynim commented on #23
Glad it's working for you as well @operasghost 👍

[2016-12-14 12:11] #23 closed, assigned to nobody

[2016-12-14 12:39] Adam-CS commented on #26
Hi Abynim,
I had infact the v2.0, I upgraded to 2.0.1 and the problem appears to be fixed!
Thanks!

[2016-12-14 13:21] Adam-CS commented on #26
Just a quick comment, with v2.0.1 removing a link seems like it doesn't refresh/redraw the connections. In order to see the link disappear I now need to unlink twice or unlink (connection still visible) and then redraw connections.
Moving artboards and then redrawing gives the same result, do it once and you see both the old/new connections, do it again and the old disappear.

[2016-12-14 14:11] abynim commented on #26
@Adam-CS sometimes it gets out of sync if you `Hide Connections` in one page/document and then come back to a different page where the connections are still visible. When that happens, or if you see any weirdness at all, it's always best to `Redraw Connections` because that will reset and redraw the most recent state.

[2016-12-14 14:35] Adam-CS opened #28 "Feature Request: Flow diagram 'Connection Schemes' & styles"
I generate flow diagrams with different purposes/level of detail, according to WHAT I'm showing I change background colors, connection colors and text styles.
My suggestion is in 2 steps:

Step 1
It would be great if one could assign document styles to connections (color), background color, Diagram Title (font, size, color, ecc..), Diagram Description (font, size, color, ecc..) and Artboard Titles

[2016-12-15 18:14] itsbrennan commented on #24
Agreed, if we could have these vectored lines be defaulted to "Straight" (or have the option) instead of "Disconnected" that would really clean up these artboards by having the lines break at 90°! I've been changing them manually. Love the plugin :)

[2016-12-16 00:10] erutan commented on #24
Agreed as well.

[2016-12-16 00:13] erutan opened #29 "Shortcut for Define Links (Create Link?) not working / present."
In both 2.0 and 2.0.1 I don't have the `cmd shift k` shortcut appear in the menu, and there's no plugins with conflicting key combinations (unless there's something really hidden).

It gets rather tedious having to add things via menu.

<img width="311" alt="screen shot 2016-12-15 at 4 13 04 pm" src="https://cloud.githubusercontent.com/assets/199861/21247035/6f0456ae-c2e1-11e6-865a-a3f1a1e479cd.pn

[2016-12-16 00:16] erutan opened #30 "Allow for more if/else statements when creating conditions?"
I have one flow where there's 5 device centric screens - as is I have to create the conditional box with one if else, then edit to add an option, edit again, edit again, etc. Being able to spawn more inputs on the initial creation would be appreciated. :)

[2016-12-16 00:22] erutan commented on #28
Something similar to the http://states.design states plugin would work from a UI perspective for switching between use cases.

No idea on the engineering behind things though. :)

[2016-12-16 03:22] abynim commented on #29
This is most definitely caused by another plugin taking up the shortcut. Could you try setting a different shortcut via the `Keyboard Shortcuts` option and let me know if it works?

[2016-12-16 03:37] #19 closed, assigned to nobody

[2016-12-16 15:45] brandtnew commented on #29
I have the same (?) problem and fixed it. Here's what I saw in the Menu. Installed it via SketchToolBox. Now I've uninstalled it via the SketchToolBox and installed it as instructed via the .sketchplugin file which you can download on https://abynim.github.io/UserFlows/.

<img width="486" alt="screenshot 2016-12-16 16 38 31" src="https://cloud.githubusercontent.com/assets/21058715/21268242/1f5e665

[2016-12-16 16:41] erutan commented on #29
@brandtnew I didn't install via SketchToolBox (I like the idea, find it lacking in practice). I'll uninstall / reinstall and try again.

[2016-12-17 03:48] abynim commented on #29
@brandtnew the version installed via SketchToolbox is the old version of UserFlows. To get the latest version (v2) please download it from the homepage https://abynim.github.io/UserFlows/

[2016-12-18 01:48] erutan commented on #29
No other sketch plugins use the cmd shift k, but under system preferences > keyboard > shortcuts > application shortcuts Sketch itself has that set as a "Create Shared Style". Setting it to some other keyboard shortcurts work fine and shows up in the menu UI.

That may have been something I did a long time ago and forgot about since it doesn't seem to conflict for most.

[2016-12-18 03:30] abynim commented on #29
Thanks for reporting back with the solution @erutan

[2016-12-18 03:30] #29 closed, assigned to nobody

[2016-12-19 17:41] adeysalyards opened #31 "Issues with copy/pasted items randomly getting connections"
Making a connection from one item to another artboard. When I created the connection, another random connection came from a copy/pasted element to another artboard at the same time. Was fixed when I recreated these elements instead of copy/pasting them.

[2016-12-19 22:26] parkerkuncl opened #32 "Incorrect starting point"
I have a larger layer that hangs off the artboard. I'm trying to have a flow arrow go from one artboard to another by selecting this layer. The RED arrow is pointing to the incorrect start as its overhanging the wrong artboard. It should be where the green arrow is, and not the hidden layer. Make sense?

![plugin fail](https://cloud.githubusercontent.com/assets/24660791/21331351/d0e3c2fc-c5f6-11e6

[2016-12-20 04:07] abynim commented on #31
When you copy and paste a link-layer, the information about the link will be copied with it. You will need to use the `Remove Link` command if you don't want the pasted layer to behave as a link.

[2016-12-20 21:41] dgilliam commented on #16
You might want to notify about this on the project home page - I thought maybe there was something wrong with the plugin since I installed via toolbox and couldn't use much of it

[2016-12-20 23:12] JasonOber commented on #19
Seems to be fixed! Thanks!

[2016-12-21 04:15] abynim commented on #16
I'll be merging v2 with the master branch very soon so it should work via Toolbox then. @dgilliam thanks for reporting!

[2016-12-27 17:51] edwardsdesign commented on #25
Maybe this could be solved with an action to reverse the direction of the connect line arrow? Something like Shift+Command+L so you could easily create and then reverse the direction of the connection.

This would also allow for the ability to connect 2 layers or groups together, example:

Artboard 1: Device screen has calendar icon button (calendar hidden).
Artboard 2: Shows screen now with calen

[2016-12-29 06:42] F-DK commented on #28
Hey @Adam-CS,

I'm relating to the second image with the double if else statement.

Maybe @abynim already understood what problem you want to solve(?) but on a second look I got confused by your proposal. Could you elaborate a bit further on this?

E.g. what kind of condition were you thinking of?
Or do you want to extend the conditions concept with sth. else?

[2016-12-30 10:09] F-DK opened #33 "(Not a) Feature Request: Merge 'User Flows' with 'Craft Prototype'"
User Flows is a great capability expanding Sketch further and fits my work an interaction designer (and I believe especially interaction/UI/UX designers in agile environments) well.

However currently using User Flows and Craft Prototype adds a layer of complexity and manually crafted redundancy without an overview of the flows in Craft Prototype.

Therefore @abynim I would love to see Craft Proto

[2017-01-02 23:12] munsonbh opened #34 "Honor opacity settings of the Flow Indicator Color"
Currently, opacity changes to the Flow Indicator Color have no effect. So long as flow indicators are crossing over UI elements, it would be useful to be able to cut opacity to them for readability.

[2017-01-03 03:47] abynim commented on #27
v2.0.2 adds a `-` prefix and suffix to Condition artboards to exclude them from syncing with InVision and FramerJS.

[2017-01-03 03:47] #27 closed, assigned to nobody

[2017-01-03 03:50] abynim commented on #30
v2.0.2 includes an option to `Save + Add` when adding/editing conditions. This lets you add another condition without having to run the plugin command again.

[2017-01-03 03:50] #30 closed, assigned to nobody

[2017-01-03 03:50] abynim commented on #32
Fixed in v 2.0.2

[2017-01-03 03:50] #32 closed, assigned to nobody

[2017-01-03 03:51] abynim commented on #34
Fixed in v2.0.2

[2017-01-03 03:51] #34 closed, assigned to nobody

[2017-01-03 03:51] erutan commented on #30
Thanks!

[2017-01-04 11:25] theiwaz commented on #27
Super!!

[2017-01-09 03:33] skrzyszewski opened #39 "Feature request: Keep connections when pasting page to different file"
It would be quite nice if connections where kept while pasting whole page to a different document. Currently they're being transferred and visible, only until a 'Redraw Connections' keyboard shortcut is being pressed, then they disappear.

The reason this could be useful, is when you work with multiple designers on one project and trying to follow a git-flow like approach with separate files for f

[2017-01-16 04:52] abynim commented on #39
@skrzyszewski v2.0.3 fixes this issue. Links should now work when you duplicate a page or artboard. With old documents, please run a `Redraw Connections` command once to update the data model before trying to copy-paste the page.

[2017-01-16 04:52] #39 closed, assigned to nobody

[2017-01-16 06:42] skrzyszewski commented on #39
Works like a charm!

[2017-01-17 01:06] Charimon opened #40 "in certain cases connecting to a "duplicated" artboard doesn't work"
If you try to connect to a **duplicated** artboard after a connection has been made to "original" artboard, the new connection will be made to the **original** artboard also.

Steps to reproduce:

1. Create Artboard (Let's call it **A1**, you don't actually have to rename it)
1. Create another Artboard  (Let's call it **A2**, you don't actually have to rename it)
1. Add 2 shapes (say Rectangle **R

[2017-01-17 10:26] work-leonid opened #41 "New link connected to one artboard"
Hi! After updating User flows 2.0.3 (from 2.0.0) links don't work http://take.ms/i5m4K
Sketch 41.2 (35397), MacOS Sierra 10.12 (16A323), User Flows 2.0.3

[2017-01-18 02:26] abynim commented on #41
This happens when the artboard you're linking to is a duplicate of another artboard. The bug was introduced in the latest update and Im working on a fix. Let's keep track of the bug in issue #40

[2017-01-18 02:26] #41 closed, assigned to nobody

[2017-01-18 17:06] sfriedlander opened #42 "Flow Lines Point to Wrong Artboard"
When I try to create a link from a symbol to a new artboard, the arrow is pointing to the wrong artboard, not the one I selected.  I have already made many links in this document but now it stopped working correctly. Can an artboard go corrupt to cause this?

[2017-01-19 20:36] richardquay commented on #42
Running into the same issue.

From what I can tell, if I duplicate the artboard then it seem to always link back to the original artboard.

[2017-01-20 11:23] scrumit opened #43 "Option to not allow lines to cross artboards"
The autogenerated lines cover up other artboards. Is it possible to route them around (possibly only with straight lines).

[2017-01-20 11:28] scrumit commented on #43
Closed because duplicate of issue #24

[2017-01-20 11:28] #43 closed, assigned to nobody

[2017-01-20 11:39] scrumit commented on #42
isn't this a duplicate of issue #40?

[2017-01-20 16:40] richardquay opened #44 "How to set which side of the hit target the line will draw from"
Right now every time I create a connection, the line is drawn from the right of the touch box. I looked around and can't find a way to set which side it is drawn from.

thanks!

[2017-01-21 02:50] abynim commented on #44
The starting point of a connection stroke is determined by the position of the destination artboard in relation to the link layer. It could start from the top, right or bottom of the link layer, but not from the left (to avoid clashing with connections coming into the link's parent artboard). This happens automatically and there is no way to manually set the start point – not yet!
![connection-mag

[2017-01-21 03:12] abynim commented on #40
Please update to v2.0.4 which should fix this issue. Please test and let me know if it doesn't! Thanks for reporting btw 👍

[2017-01-21 03:14] abynim commented on #42
Thanks @scrumit. This is in fact a duplicate of issue #40 and is fixed in v2.0.4. Thanks for reporting @sfriedlander and @richardquay.

[2017-01-21 03:14] #42 closed, assigned to nobody

[2017-01-23 00:13] richardquay commented on #44
thanks! Do you have a planned feature to allow the user to manually set the location?

[2017-01-23 00:13] #44 closed, assigned to nobody

[2017-01-23 04:15] #40 closed, assigned to abynim

[2017-01-23 04:40] abynim commented on #44
Will try to include it in the next update 👍

[2017-01-23 21:59] Charimon commented on #40
seems to be working now, thanks for fixing it so quickly. 👍🏻

[2017-02-02 11:23] uxwithleti opened #45 "Plugin not working with latest Sketch version"
Hi there

I started using the plugin, which I love but it stopped working after a while. I have a message confirming that the link was created but is not showing. Same for the removing action, it is confirmed by a button at the bottom.

Thanks,
Letizia

[2017-02-02 13:56] kapiljaisinghani commented on #45
Same here, not able to create links on latest version

[2017-02-03 08:56] abynim commented on #45
@uxwithleti @kapiljaisinghani : AFAIK Sketch 42 has not affected the plugin. Could you please try to `Redraw Connections` after creating a link?

[2017-02-07 13:10] MayaS opened #47 "Reset (Remove) all links & Remove link from non-existing layer"
1. It will be useful if there is a command Reset (or Remove) all created links.
2. If you have a layer then link it to an artboard, then after deleting the layer the link remains, which is OK. But since the layer doesn't exist anymore, there is no way to remove the link coming from it.

[2017-02-07 16:25] froidz commented on #45
@abynim I had the same issue but this totally works! Solved.

[2017-02-08 01:35] abynim commented on #47
@MayaS :
1. Removing all links from a Page sounds like a good idea. Will add that in the next update.
2. Use the `Redraw Connections` command to clean up any left over link attributes from the page after deleting a layer. It's a good idea to use that command often since it refreshes all UserFlow-related data on the current page.

[2017-02-10 11:41] danieliust commented on #31
I have a problem with one artboard which doesn't have any copy/pasted link and the other end of the connection is pointing somewhere else, in between the artboards, not to any layer/artboard and I can't get rid of it, each time I add a new connection it re-appears (if I deleted it before manually).

How do I solve it?

[2017-02-10 12:27] abynim commented on #31
@danieliust could you please email the Sketch document to me (abynimbalkar at gmail dot com), if you are allowed to? That will be the fastest way for me to debug this.

[2017-02-11 10:01] danieliust commented on #31
@abynim Sent, thanks for taking a look!

[2017-02-11 19:00] idoshavit commented on #47
@abynim - the  `Redraw Connections` command does not work for m to remove connections from deleted layers. it keeps redrawing old connections even though the layer is gone. Any workarounds to remove these connections?

[2017-02-12 08:55] abynim commented on #47
@idoshavit Does this happen in all Sketch documents or just one? Is it possible to email the document to me at abynimbalkar at gmail dot com? That will be the fastest way to debug it. Thanks!

[2017-02-12 11:01] idoshavit commented on #47
@abynim  I can't send you the document, but i just  figured out what happened. When creating the flow i started with a group, not a single layer. At some point i deleted the layers in the group, but not the group itself. The flow was still valid, because the group was still there. however, when looking at the canvas there was nothing to select, so i thought the flow is connecting to nothing. After

[2017-02-16 07:43] idoshavit opened #48 ""Generate flow diagram" dialog"
@abynim, very useful plugin. thanks for developing it.
A few UX recommendations IRT "generate flow diagram" dialog
1. When the dialog opens, place the focus on the Flow name, so i can start typing immediately.
2. put the Flow Name field first (above the "Start from" field)
3. if a single artboard is selected when the "Generate flow diagram" is invoked, pre-fill the "Start from" with the selected a

[2017-02-21 06:48] klv90 opened #49 "Erased links reappearing"
Hello there. Nice work with the plugin. Really useful, i must admit it.
I have only one problem, and I don't know why...
Everytime i try to erase/remove a link, when I draw a new one, all the others that were drawn, reappear. And I end up with dozens of old links, all at once. It's like I can never erase them...
Any ideas ?
Thank you !

[2017-02-21 07:33] abynim commented on #49
Thanks @klv90, glad you're finding it useful.
Deleting the connection lines will only remove them temporarily. The correct way to remove a link is to select the link layer and use the `Remove Link` command. Let me know if that works.

[2017-02-22 10:28] kungquest opened #50 "Removing an existing link"
Hi @abynim ,

Loving your work here. You can't possible imagine how much designers/devs are crying with joy now.

I noticed there was no instructions on 'Remove Links'.
For example: I linked Button A to Artboard A, now I'm changing Button B to Artboard A. How can I go about doing so?

[2017-02-22 10:31] kungquest commented on #50
Hi guys, I found it. It was under Plugins > Remove Links (or Cmd+Shift+U). Closing Issue.

[2017-02-22 10:31] #50 closed, assigned to nobody

[2017-02-23 17:32] klv90 commented on #49
Thanks for your reply.
I was trying that, but i was selecting both the source layer and the artboard. That was the problem.
Now it works perfect !!!
Thank you very much !

[2017-02-27 07:42] #49 closed, assigned to nobody

[2017-02-28 22:29] griffingdm opened #51 "Feature Request: Multiple Flow Arrow Colors"
I have a need to show different types of connections (usually progressive actions vs. regressive actions). It'd be awesome to make a keyboard shortcut that's the same function as a connection, but a secondary color you choose in settings.

[2017-02-28 22:53] griffingdm opened #52 "Feature Request: Custom text styles for conditions / flow diagram"
This would be super helpful.

[2017-03-05 07:48] Nordicdesign opened #53 "Generate flow diagram not working"
Hi @abynim, thanks for your plugin, it's amazing.

I have a simple file with a few connections, but when I select generate flow diagram (either via menu or shortcut):

- The page '_Flows' it's not created
- No flow diagram is created (even if use a different, existing page)
- The Connections group is now hidden

I'm using the latest version of both your plugin (2.0.4) and Sketch 42 (36781).
Video

[2017-03-06 02:03] abynim commented on #53
@Nordicdesign would you be able to send me the Sketch document at abynimbalkar at gmail dot com? That's the easiest way for me to debug the issue. Thanks!

[2017-03-08 09:34] varunyellina commented on #31
I was having the same issue with copy/pasted layers and the link data. How do I fix the random links if the pasted layers are no longer there(deleted)?

[2017-03-15 17:51] everydayslang opened #54 "Feature Request: Ability for custom page name"
Currently a page called _Flows is created. Which may or may not fit into someones naming system. You  can rename it, however when a new flow is created it won't respect the new name.

[2017-03-15 23:10] abynim commented on #54
@everydayslang you can choose to generate a flow on any page you like, and the plugin will remember your choice.
![flowpage-name](https://cloud.githubusercontent.com/assets/7082849/23974658/52cae4f8-0a17-11e7-881c-c558201c4c8a.png)

[2017-03-16 03:49] everydayslang commented on #54
Oh dang, there it is. Thanks for pointing that out.

Best,
Stephen

On Mar 15, 2017, 7:10 PM -0400, Aby Nimbalkar <notifications@github.com>, wrote:

[2017-03-16 03:57] #54 closed, assigned to nobody

[2017-03-21 22:28] adamkirkwood opened #55 "Install Sketchpacks Relay Integration"
https://github.com/integration/sketchpacks-relay

[2017-03-22 04:08] abynim commented on #55
@adamkirkwood Done for all my plugins 👍
<img width="515" alt="sketchpacks-integrations" src="https://cloud.githubusercontent.com/assets/7082849/24181768/32f30482-0ee3-11e7-8b6f-f94d419483e2.png">

[2017-03-22 04:09] #55 closed, assigned to nobody

[2017-03-22 11:36] matteodesanti opened #56 "Change "Connections" group name for InVision Sync compatibility"
I need to avoid that my connections are automatically published to InVision when i save the sketch document.
The solution I suggest is to rename the `Connections` auto-generated group to `-Connections`
Or we could let the user to choose the group name in the settings panel.

[2017-03-23 11:35] alanylwan commented on #31
@abynim
This feature aims to duplicate the links with the elements. However in real cases, we designers always duplicate the artboard mainly for making a new one, without wanting to copy the links as well. Personal suggestion: add a checkbox in settings: copy link when duplicate artboards, and default setting is uncheck.

=)

[2017-03-23 16:22] sonburn opened #57 "Connections in Exports"
First of all, great plugin, thank you!

When exporting artboards from some files, like to Zeplin, the connections seem to somehow get picked up in the export as well. This only happens in some of my files, others work as expected. The connections group is non-modified, and hasn't been accidentally been brought into the artboard. I believe this has something to do with the file itself, which has be

[2017-03-23 19:01] adamkirkwood opened #58 "[Feature Request] Integrate with Sketchpacks Relay to serve auto-updates"
More details found @ https://github.com/integration/sketchpacks-relay

Example
![screen shot 2017-03-22 at 4 08 57 pm](https://cloud.githubusercontent.com/assets/52746/24224720/fc40de64-0f19-11e7-8473-a2798193fc33.png)

[2017-03-23 20:40] abynim commented on #58
<img width="515" alt="sketchpacks-integrations" src="https://cloud.githubusercontent.com/assets/7082849/24269390/0b6b2d40-1037-11e7-81ec-2894e04751f6.png">

[2017-03-24 13:25] walmink opened #59 "Attach connection to closest edge of trigger & artboard"
**Problem**
As you can see from the attached image, there are currently two issues:
- Connectors on triggers can appear on the top, bottom and right, but not on the left side of the trigger (typical for "pointing back" to a previous screen)
- Connectors always attach to the top-left of an artboard. This means the connector often cuts through the artboard it comes from and links to.

**Proposed sol

[2017-03-24 17:43] adamkirkwood commented on #58
@abynim We're working on getting UserFlows version to reflect your most recent release within Sketchpacks.

I suspect it might have to do with #60.

I'll check back in with you.

[2017-03-25 07:29] abynim commented on #58
I've merged #60 already. Let me know if that fixes it 👍

[2017-03-25 12:01] abynim commented on #57
@sonburn I looked at the example files you posted in the sketchplugins forum and found that for artboards which show this issue, the value for `artboard.exportOptions().layerOptions()` was `0`. Changing that value to `2` will fix it. Im not sure what causes the export options to be set to 0 in some documents, but perhaps it has to do with older documents like you mentioned.

So to fix the problem

[2017-03-25 12:28] abynim commented on #57
Hmmmm.. looks like it breaks again when a new artboard is created. Probably makes sense to `clean` all artboards as part of redrawing connections so it always works as expected. I'll add this in an update later today.

[2017-03-29 21:04] adamkirkwood opened #61 "Published Releases"
Currently, [UserFlows v2 is not being served](https://github.com/sketchpacks/feedback/issues/10) by Sketchpacks.

To take advantage of Sketchpacks Relay, it's best to publish semantically versioned releases to be served to your users.

* [Creating releases](https://help.github.com/articles/creating-releases/)

[2017-03-29 21:06] adamkirkwood commented on #58
Unfortunately, v2 is not being served quite yet. We can fix this by publishing a Github release for your v2.

See #61 for more details.

[2017-03-31 13:51] chieferson commented on #18
This feature would be awesome!!!

[2017-04-03 08:48] varunyellina opened #64 "Incorrect renders of text with overriding fill colors."
When I have text **"12:30"** that has a different fill color as shown below, generating a userflow only respects the color near the text options. Sketch export doesn't behave this way.
<img width="577" alt="screen shot 2017-04-03 at 2 13 13 pm" src="https://cloud.githubusercontent.com/assets/1850730/24601829/03fd3ee2-1878-11e7-9097-086086e27aad.png">

[2017-04-03 10:53] abynim commented on #64
@varunyellina I've seen that happen when export format is set to PDF. Can you check if that's the case and switch to PNG to see if that fixes it?

![uf-format](https://cloud.githubusercontent.com/assets/7082849/24606112/32cd5aba-189e-11e7-8a97-4575140a4cbe.png)

[2017-04-03 10:55] varunyellina commented on #64
Format is PNG. Checked.

[2017-04-03 11:02] abynim commented on #64
Wow, weird. Are you able to email me the document at abynimbalkar at gmail dot com? I cannot reproduce the issue here.

[2017-04-03 11:25] varunyellina commented on #64
I'm unable to send you the document(disclosure not possible).

I never had this issue for the same document until yesterday.
What changed since then is that my Mac was formatted, and then Sketch, UserFlows plugin were reinstalled.

[2017-04-03 12:41] abynim commented on #64
Nothing related to text layers or exporting was changed recently. Is this happening only with this document or with all documents?

[2017-04-07 04:28] wadjj opened #66 "User Flows is not up to date"
The latest is 2.0.4, and sketchpacks has it on 1.0

[2017-04-07 05:20] abynim commented on #66
That is probably because the primary branch for the repo is `v2` and SketchPacks is looking for `master`. I would recommend using [Sketch Runner](http://www.sketchrunner.com) to install and update plugins for now. It seems to pick up the correct version and build.

[2017-04-10 18:00] #66 closed, assigned to nobody

[2017-04-11 10:18] htriggs opened #69 "Generate flow diagram - all flows"
Loving this plugin - thank you.

Please can we have the ability to generate one flow diagram with all the flows visible, not just the flow from one starting point?

[2017-04-18 21:28] mlefco opened #75 "Delete a connection"
I connected a button to another artboard, but realized I didn't want it anymore. How do I delete a connection?

[2017-04-18 22:46] #75 closed, assigned to nobody

[2017-05-03 16:22] jinnyw opened #76 "Feature Request: Ability to link between just between groups and/or symbols"
Thank you so much for this plug-in! I love it!

This feature request is for the ability to link between groups and/or symbols, instead of requiring an artboard to be linked. Mainly for me, it is so my team can see the flow when using InVision Inspect. :)  Thanks!

[2017-05-05 09:09] mondoadams opened #77 "Gesture selection for each flow connection"
Plugin is great! However, I'd love to be able to select a gesture that links each artboard. For example, scroll (and direction), pinch, long press.

[2017-05-13 08:23] steferr commented on #76
Totally agree, it would be incredibly useful for creating fast flowcharts

[2017-05-17 16:00] rojaga51 opened #78 "Rectangles with Gradients are not carried over to my Userflows"
To clarify. The rectangle carries in but the gradient does not.

[2017-05-17 16:52] rajankinnek opened #79 "Plugin does not work with Sketch 44"
It will be great if you can fix. Thanks!

[2017-05-17 16:59] abynim commented on #79
@rajankinnek what part of it is not working? Some details would be nice. Thanks!

[2017-05-17 17:04] abynim commented on #78
![user-flows-settings](https://cloud.githubusercontent.com/assets/7082849/26166304/aa17f848-3b65-11e7-85b8-740e630baf93.png)
@rojaga51 could you please check the Settings and confirm whether export format is PNG and not PDF? Gradients don't work well if the format is PDF.

[2017-05-17 17:06] rajankinnek commented on #79
Thanks for the speedy reply. I do not see the connection lines though I get a notification that they have been drawn.

[2017-05-17 18:36] abynim commented on #79
@rajankinnek Try `UserFlows` > `Show or Redraw Connections`, or use the shortcut `Cmd+Shift+9`. That should redraw the connections.

[2017-05-17 19:24] rojaga51 commented on #78
Yes. The export option is set to PNG.
<img width="493" alt="screen shot 2017-05-17 at 3 23 36 pm" src="https://cloud.githubusercontent.com/assets/25828726/26172006/dd65d2de-3b14-11e7-9068-3d78cdf3c188.png">

[2017-05-17 19:37] rajankinnek commented on #79
Perfect. That fixed it! Thanks a bunch. You saved me a boatload of time!

[2017-05-17 19:49] #79 closed, assigned to nobody

[2017-05-18 14:52] oddjones commented on #33
Prototype is now out of Beta and the overlap between these two plugins is plain to see. I use them both because User flows is brilliant both for creating the overview image and their clever and simple way of dealing with conditional flows, but I can't live without Prototype's killer feature - creating InVision workflows directly within sketch. Seriously, guys - you should talk!

[2017-05-18 15:24] abynim commented on #33
@oddjones totally agreed. We are looking into which features of UserFlows we can bring into Prototype. Luckily Im involved in both the plugins so we don't have to go talk to anyone else to make this happen 👍

[2017-05-18 19:21] oddjones commented on #33
Wow, well that's very cool! Let me congratulate you on your work on both plugins. Keep on talking to yourself!!

[2017-05-19 09:54] oddjones commented on #33
If I can venture my own two-penny's worth, the killer features are:
1. conditional flow switching -> This is something which InVision hasn't really offered previously (because it "breaks the 4th wall" by suspending the UI to display the conditions - however, the alternatives (doubling up on action buttons / including "post it" style notes) are equally kludgy - I really like the simplicity of userf

[2017-05-22 17:01] stefftabalong opened #80 "Creating link not working since Sketch update 44.1"
Closing this issue..

**just found out by reading past issue to redraw connections**
------------

Creating link not working since Sketch 44.1 newest update

This is pop up if I tried to create a link

<img width="293" alt="screen shot 2017-05-23 at 2 17 47 am" src="https://cloud.githubusercontent.com/assets/13848412/26322538/0c02e756-3f5e-11e7-8c67-aae40bd10481.png">

[2017-05-22 18:21] #80 closed, assigned to nobody

[2017-05-25 03:22] alanylwan commented on #31
Just come up with an idea and dont know whether it is possible or not:
When we conduct "Remove all link" function, is it possible for us to remove the child elements' links too? in this case i can just select all the copied elements and "cmd u" to remove all duplicated links

[2017-05-31 10:50] stefftabalong opened #81 "Able to RESET/REMOVE all linked connections.."
I was moving artboards around and connections was hidden and this happened.

<img width="369" alt="screen shot 2017-05-31 at 6 47 40 pm" src="https://cloud.githubusercontent.com/assets/13848412/26628735/ca825d2c-4631-11e7-815d-b7d61f7f3ee6.png">

I tried the redraw/hide connection does NOT work. I tried deleting them from the layers directly does not work as well. It removed them but when I linked

[2017-05-31 11:05] abynim commented on #81
@stefftabalong are you able to share the document where this is happening? Please send it to abynimbalkar at gmail dot com. That will be the fastest way to debug the issue.

[2017-06-01 10:35] bomberstudios opened #82 "Support Sketch 45 plugin update system"
Hi there!

This is a quick note to remind you that Sketch 45 will include a plugin update system.

It would be awesome if you could add support to it (it's really easy!) before Sketch 45 comes out. Ideally, you should release an update for your plugin while we're still in Sketch 44, so your users will have a nice & easy experience when 45 is released.

For more details, please check http://sketchp

[2017-06-06 22:03] benguerrette commented on #69
I vote for this as well.

[2017-06-12 22:32] mrfletch commented on #76
+1

[2017-06-13 00:47] autumnD opened #83 "Ability to export selected items between art boards"
I am using lines with labels between art boards to separate parallel flows, and it would be nice to specify that they be included with the export.

![screen shot 2017-06-12 at 5 46 21 pm](https://user-images.githubusercontent.com/17192982/27061223-2d233938-4f97-11e7-9a63-5cf33d34b8da.png)

[2017-06-14 19:06] richiesun opened #84 "Generate Flow Diagram functionality should be expanded."
I use User Flows during my design phase to help me organize my screens/flow as I think of them. It would be helpful to "Generate Flow Diagram", have the plugin move my affected flow to another page where I can further create links / remove links / move artboards. The plugin currently flattens everything.

Seems the current logical workflow is to:
1. Design my screens in my normal orientation on my

[2017-06-22 00:10] SeanChenU opened #85 "Failed to render image with color"
It works fine when exporting single artboard,
![2017-06-22 8 02 55](https://user-images.githubusercontent.com/2536266/27411659-a029ec4c-5721-11e7-9543-8d416da79baa.png)

but fails when generating the flow diagram.
![2017-06-22 8 09 07](https://user-images.githubusercontent.com/2536266/27411724-1c449700-5722-11e7-8d1d-1a19d3236f9a.png)

[2017-06-23 07:25] varunyellina commented on #78
Having similar issue.
A shape with mutiple fills(with transparency) as shown below
![screen shot 2017-06-23 at 12 51 57 pm](https://user-images.githubusercontent.com/1850730/27470776-109a5b32-5813-11e7-9a6d-ce8d593029b2.png)

is rendered without transparency
![screen shot 2017-06-23 at 12 52 19 pm](https://user-images.githubusercontent.com/1850730/27470791-20a027b4-5813-11e7-86ec-46d47fb2c5b9.png)

[2017-06-28 11:48] designcoop opened #86 "Plugin does not work with Sketch version 45"
Since I have upgraded Sketch to version 45 (843475), the plugin does not work anymore

[2017-06-28 13:04] pabloibanez commented on #86
Same here. It seems that it can't create links. The **Add/Edit Conditions** and **Generate Flow Diagram** still work.

[2017-06-28 15:34] abynim commented on #86
@designcoop and @pabloibanez please check with the latest version and let me know if you still run into issues. Thanks for reporting guys 👍

[2017-06-28 15:57] luisdil commented on #86
Seems to work fine for me in new documents but not in "old" ones where I previously used your plugin

[2017-06-28 16:13] abynim commented on #86
@luisdil in the old documents try Cmd+Shift+9 to redraw all connections.

[2017-06-28 16:38] luisdil commented on #86
Sadly this doesn't seem to help :/

[2017-06-28 22:17] pdubla commented on #86
Doesn't work for me either. I was hoping that by duplicating the document, it might get fixed but no luck. (It does work with a brand-new document.)

[2017-06-29 02:18] abynim commented on #86
@luisdil @pdubla would it be possible to send me one of your old documents that doesn't work? I cannot reproduce the issue with my old documents here. Please email to abynimbalkar at gmail dot com. Thanks!

[2017-06-29 05:29] abynim commented on #86
@pdubla thanks for sending the test document. I got it working in your document and pushed a commit. Please update! And thanks for reporting 👍

[2017-06-29 05:35] varunyellina commented on #86
Not working for me either. The **Connections** folder has disappeared. Won't even show up in Layer search. That said. Creating a Flow diagram works though.

[2017-06-29 07:14] luisdil commented on #86
Everything seems back to normal, thank you!

[2017-06-29 15:25] wgGcodes commented on #86
You rock, abynim!
Thanks for issuing a fix so quickly!!!
We depend on your plugin so I freaked out when it wasn't working in Sketch 45

[2017-06-29 16:14] pdubla commented on #86
Glad I could help @abynim. All looks back to normal. Thanks!!

[2017-06-29 18:41] patrickhansen commented on #86
thank you so much! Looks like it is working again for me too in the new 45.

[2017-06-30 12:56] abynim commented on #86
@varunyellina does the most recent update fix the issue for you?

[2017-06-30 21:51] patrickhansen commented on #86
The latest update fixed most of the bugs in Sketch 45, but I am now experiencing an issue where if I have a large parent art board that contains child art boards, then the child art boards become invisible when exporting the parent art board (note: in Zeplin, the child art boards are selectable, but invisible).
The reason why I have a parent art board is because I am just creating a flow diagram w

[2017-07-01 07:18] abynim commented on #86
@patrickhansen could you possibly make a short screencast to explain what is happening and what you're expecting? Email it to me if you'd like to keep it private: abynimbalkar at gmail dot com. Thanks!

[2017-07-01 07:50] designcoop commented on #86
Best thanks for the successful processing. For me, the plugin works again.

[2017-07-04 09:54] ArarkinUX commented on #86
Hi @abynim Ive read the comments and I am still having issues on multiple files. I can see old screen flows, but I cant edit them. I can hide them, but then they don't come back again. I cant add any new links at all. Once hidden, they simply do not return, no new content. I have even tried renaming the shortcuts in case there was a conflict, and that failed,

I have had this for the current and p

[2017-07-04 10:01] ArarkinUX commented on #86
@abynim...update, I was just preparing the file for you and thought I should recheck for any plugin updates... you have one that I could not see before (I just restarted my machine) and I can confirm that 2.0.6 has fixed the problem! Thank you for your great work! (If anyone else is stuck, the plugin update will fix it)

[2017-07-05 16:17] patrickhansen commented on #86
@abynim It looks like the new 45.1 update may have corrected the issue. I was still experiencing it with one other file, but drawing a new art board and replacing the old one seems to have fixed my issue with the new 45.1 update. I will connect again if I experience it again andI can recreate it to screencast it. **Thank you for your response and activeness on addressing the updates. Really apprec

[2017-07-05 20:02] patrickhansen commented on #86
@abynim Thank you so much for getting back to me. I am experiencing the issue with only one file after the 45.1 Sketch update this morning. I am trying to recreate it in another file, but have not been able to yet., so I'm not sure if it is related to that one file or not. I'll see if I experience the issue again and then create a screencast to show you.

[2017-07-06 23:31] maynardj20 opened #88 "Setting Connectors to Middle of Artboard"
When connecting an object to an artboard, I would love the ability to choose where the connector connects with the artboard.  Currently, it connects at the top-left corner, but I would prefer it to point to the middle-left side.

Keep up the good work!

[2017-07-14 05:27] BadseyBurger commented on #76
I would also like this feature. It would save me a lot of time when doing complex flows.

[2017-07-14 09:25] gonzoandrea commented on #86
Seems works again for me too, thank you

[2017-07-20 20:36] ixley opened #89 "Scale down @2x exported artboard"
When generating the bitmapped artboards for the Flow Diagram, the 2x option is great, but it would be even nicer if it was also scaled down to 50%. This way the bitmaps retain detail for hi-res display but zoom to the appropriate 100% scale.

Thanks for the great plugin - keep up the good work!

[2017-07-21 18:02] alienresident opened #90 "kin33J|#"

[2017-07-21 18:03] #90 closed, assigned to nobody

[2017-07-25 16:21] RaphyRaph opened #91 "Way to reset connections?"
I can hide connections... but do I clear them to start over? I don't want to go to each button and clear.

[2017-07-26 03:01] hanuse opened #92 "Whether the connection can support bypassing the drawing board or obstacle"
Whether the connection can support bypassing the drawing board or obstacle， Hope to support functionality

[2017-07-26 05:28] ridder-mark opened #93 "#Feature Request: Please support layer to layer connections to show state changes"
#Feature Request: Please support layer to layer connections to show state changes

[2017-07-27 14:49] DTown commented on #86
Sketch 45.2 - Getting "Invalid Selection" on all Layers/Elements when pressing the Shortcut

"Select a Layer or Element to define as a link ..."

[2017-07-28 01:58] abynim commented on #86
@DTown please check if you have the latest version of the plugin.

[2017-07-29 20:19] DTown commented on #86
@abynim It is 2.0.6 , no newer updates available via settings update.
Btw. you should use tags for versioning in your GIT repo.

[2017-07-31 04:52] abynim commented on #86
@DTown I cannot reproduce this. Can you confirm it's happening with all Sketch docs or just one? Would be awesome if you can send me the rogue doc to help reproduce. abynimbalkar at gmail dot com.

[2017-08-01 19:14] DTown commented on #86
@abynim
Sorry, I noticed that I did a mistake / misunderstood the usage instructions.
I am pretty new to sketch, so I thought I could also connect groups/shapes to each other, but did not see the artboard connection. Reading more carefully and having a look at the video again helps :-/

[2017-08-07 17:01] archanakrishna44 opened #94 "Conditions Logic not showing up when you generate diagram of flow"
Is this feature supported in Sketch 46? When the flow switches to conditions logic and then the flow is uploaded no artboard from conditions logic onwards is captured when you save out the diagram.

![screen shot 2017-08-07 at 1 00 03 pm](https://user-images.githubusercontent.com/25371462/29037163-7d5eebb8-7b70-11e7-978e-80ac233e39d0.png)

[2017-08-11 08:29] Hoshi1 opened #95 "PlugIn is not working in Version 46.1"

[2017-08-16 00:02] andrewmbacon commented on #50
This should really be in the documentation somewhere.

[2017-08-17 14:07] abynim commented on #50
@andrewmbacon thanks for the feedback. I'll add it to the homepage 👍

[2017-08-23 08:01] AxelHammarback commented on #95
@Hoshi1 – I'm on Sketch 46.2, and updating to the latest version of the plugin did the trick for me. See if this works.

[2017-08-23 13:24] DariaBotian opened #96 "Trying to download plugin shows 500: Internal Server Error"

[2017-08-28 18:53] iconmaster commented on #95
Working decently here on 46.2 however the plugin Settings don't appear.

[2017-08-29 10:33] oddjones commented on #33
How are you progressing with this work dude? I'm currently adding in two sets of flows - one with each plugin - it seems to work, but I'm conscious I'm probably creating quite a lot of meta-information around some pretty important (to me) diagrams - Given their similar purpose might it be possible to generate links for one from another? (so a "generate user flows document" shortcut from prototype

[2017-08-29 10:52] oddjones opened #98 "Feature Request : Option for larger conditions artboards"
Hi - I make use of user flows' conditions in InVision Journeys - as I've mentioned elsewhere they are an elegant and simple way of signifying a conditional switch in a journey. Only thing is, they're a wee bit small when displayed in the middle of a large browser window - so I end up resizing them, which in a large journey can be a bit of a chore - it'd be good to have an option for larger conditi

[2017-08-29 15:12] JMESO commented on #24
@Bmart2913 - how have you been changing them manually? I don't seem to be able to select the individual connectors

[2017-08-29 21:31] F-DK commented on #33
I'll add my thoughts — without having it deeply thought through but approached the problem from many sides over some time.

Still really dig the idea and would love to have it built into Sketch.

Real enough to user test simpler flows in (visual) high fidelity — and then quickly iterate in Sketch Prototype. At least true for fixed device/viewport sizes.

In rather intertwined user flows (e.g. for

[2017-08-30 17:20] sgraden opened #99 "Link between layers (not just artboards)"
I think the functionality of a tool where you select two items and draw a permanent connection between them in sketch can be really useful in a huge variety of situations.

In my particular case, I am just doing a text/box based user flow diagram. Normally I would have to draw all of the boxes and then draw a line between each one. If something changes I need to move everything around and redraw t

[2017-09-02 09:21] abynim commented on #96
Was probably due to Github outage

[2017-09-02 09:21] #96 closed, assigned to nobody

[2017-09-02 09:25] abynim commented on #98
A Sketch doc with the ideal design for a condition box would be extremely helpful!

[2017-09-02 09:29] abynim commented on #91
A clear all connections would be useful for sure 👍

[2017-09-11 15:30] xuwuhuai opened #100 "希望增加导出PDF带链接的功能"
对很多画板进行连线之后，希望导出的PDF文件带上跳转的链接，跳转链接的逻辑就是连线的逻辑

[2017-09-14 22:36] ChrisZannoni opened #101 "Ability to add annotations or text to the arrows"

[2017-09-26 21:00] aaron-cheng opened #102 "links disappear after copy paste artboards"
If I copy and paste the artboards with button linked to another artboards from different pages, all links in the current page disappear. I need to unlink the button to make them show up again. It is super annoying, because sometimes I don't know which link I should delete.

[2017-10-05 11:17] abynim commented on #102
@aaron-cheng that is strange behavior and Im not able to reproduce it here. Could you possibly make a quick screencast of what you're experiencing?

[2017-10-05 18:12] Marianne620 opened #104 "SKetch V 41 User Flow doesn't seem to work"
I'm forced to use an older version of Sketch at work and wondering if this is why I can't get User Flow plugin to work?
I'm stuck on V 41.

[2017-10-10 16:16] nelsongc opened #105 "settings dialog does not appear"
When I go to Settings.. options the dialog disappear immediately.
Ketch 47 (45396)

[2017-10-10 19:41] deelydian commented on #105
Thank you so much for this plugin...it's going to be so valuable for my design work! I'm experiencing sort of the same thing as @nelsongc. When I click on Settings in the Plugin menu for User Flow in Sketch, the dialog never appears, or at least I am not seeing it appear on my screen. I do know that I saw the Settings one time, but I have not been able to get them to appear again. I am wanting to

[2017-10-10 20:06] nelsongc commented on #105
to remove the outline I edit the plugin, in the folder of plugin drag in Atom app, go to
UserFlow.sketchplugin/Contents/Sketch/scripts.js

line 940, 1143, appears this code, the last value change from 1 to 0
showLinkRects = NSUserDefaults.standardUserDefaults().objectForKey(kShowsLinkRectsKey) || 1;

after change.
showLinkRects = NSUserDefaults.standardUserDefaults().objectForKey(kShowsLinkRectsKe

[2017-10-11 09:52] startmyquest commented on #17
I currently do the 2nd workaround. Drawing lots of transparent rectangles, which isn't great for keeping files nice and clean. So definitely a +1 for this feature.

[2017-10-12 12:22] abynim commented on #105
This is fixed in v2.0.7 (#108). Please update!

[2017-10-12 12:22] #105 closed, assigned to nobody

[2017-10-12 12:24] abynim commented on #91
@RaphyRaph a Remove All Links command has been added in v2.0.7. Please update the plugin to try it out. Thanks for the feedback 👍

[2017-10-12 12:24] #91 closed, assigned to nobody

[2017-10-12 12:25] abynim commented on #89
@ixley Thanks for the feedback. This has been added as a setting in v2.0.7. Please update to try it out 👍

[2017-10-12 12:25] #89 closed, assigned to nobody

[2017-10-12 12:28] abynim commented on #82
Done!

[2017-10-12 12:28] #82 closed, assigned to abynim

[2017-10-12 12:30] abynim commented on #81
@stefftabalong a command to `Remove All Links` has been added in v2.0.7. Please update so you can use it the next time you're facing the same issue.

[2017-10-12 12:30] #81 closed, assigned to nobody

[2017-10-12 12:32] abynim commented on #56
Changed the auto-generated group name from `Connections` to `-Connections-` so it will be excluded from InVision and Framer. Thanks for the feedback!

[2017-10-12 12:32] #56 closed, assigned to nobody

[2017-10-12 12:35] nelsongc commented on #105
Thank you very much for fixing it and adding the spanish language.

muchas gracias!!

[2017-10-12 14:21] bomberstudios commented on #82
🙌

[2017-10-12 16:57] deelydian commented on #105
Thank you so much for fixing this! I used your original response to successfully remove the borders, but this makes it much more user friendly =)

[2017-10-12 18:49] alessandrodallafina commented on #99
Totally agreed. It'd be awesome linking layers, groups or objects between them without using any artboard.

[2017-10-23 11:57] alexandrequemin opened #109 "Sketch V 47.1 User Flow doesn't seem to work"
Sketch V 47.1 User Flow doesn't seem to work, please help me :)

[2017-10-23 15:21] abynim commented on #109
@alexandrequemin what part of it is not working for you?

[2017-10-23 15:31] alexandrequemin commented on #109
To add a path between an element and an artboard :(

[2017-10-23 17:01] abynim commented on #109
It should still be working in v47.1 – Did you try the `Redraw Connections` command?

[2017-10-24 07:18] alexandrequemin commented on #109
Thanks, it works :)

[2017-10-24 07:39] abynim commented on #109
Awesome! Thanks for reporting back 👍

[2017-10-24 07:39] #109 closed, assigned to nobody

[2017-10-27 13:42] CVSccorpus commented on #99
was checking to see if this was requested. glad to see it was. the instance where i would use this would be to show anchored links.

[2017-11-14 13:35] brucesantos opened #110 "V2.0.7 not working on Sketch 47.1 (latest)"
UF v2.0.7 is not working on sketch 47.1 (the latest version of sketch).
It doesn't allow me to create the links, showing the "Invalid Selection" alert, independently of what I've selected - either text, shape or group layer.

[2017-11-14 17:26] kalyanideshpande opened #111 "Status bar icons not visible when generating flow diagram"
When I generate a flow diagram, the icons in the status bar are not visible. Is there a workaround?

![screen shot 2017-11-14 at 9 23 42 am](https://user-images.githubusercontent.com/15876295/32794526-fcb6aaf4-c91d-11e7-9065-9d37737e5a4f.png)

[2017-11-14 18:31] brucesantos commented on #110
I just discovered I have to click on the layer AND the artboard I want to connect. Than it works! 😬
Sorry, my bad. I'm closing the issue.

[2017-11-14 18:31] #110 closed, assigned to nobody

[2017-12-01 10:30] chi429 opened #112 "User Flow seems doesnt work in Sketch 47.1/OS10.13.1"
User Flow has no response after I updated my Mac OS to 10.13.1 and my current sketch version is 47.1

[2017-12-06 14:15] yoyoadam opened #113 "Plugin doesn't work with Sketch 48 update"
Hey!

So upon updating to Sketch 48, the plugin has numerous issues.

First, Sketch have added the CMD, Shift K shortcut to 'Change Colour Profile' in the settings menu which overrides User Flows default 'Create Link' command. I know you can create your own shortcuts and change this, but just a heads up for future versions.

Secondly, generating a flow diagram causes Sketch 48 to crash every time

[2017-12-06 18:50] abynim commented on #113
Both these issues have been addressed in 2.0.8. Please get the latest version

[2017-12-06 18:50] #113 closed, assigned to nobody

[2017-12-06 20:58] cathux opened #115 "User flow plugin doesn't work with Sketch version 48"

[2017-12-07 03:29] abynim commented on #115
Please update to the latest version.

[2017-12-07 08:05] #115 closed, assigned to nobody

[2017-12-07 14:02] cathux commented on #115
it's been updated to the latest version yesterday, that's the turning point
of User flow plugin stopped working. I am using version 47.1 version at
home, the plugin is working fine.

On Wed, Dec 6, 2017 at 10:29 PM, Aby Nimbalkar <notifications@github.com>
wrote:

[2017-12-07 22:54] kolywater opened #116 "Link connections seem to become untrackable after Sketch app updates"
I have a bunch of connections in my pages, and after Sketch does a version release, When I redraw the connections or modify a connection, all of the previous connections are deleted. Perhaps the method for tracking the connections changed?

This has happened a few times now, and means I have to redraw all of the connections post-update.

Attaching screencap: https://www.dropbox.com/s/i0t7lxr9pjvmc

[2017-12-08 03:10] abynim commented on #115
@cathux sorry, I meant please update to the latest version of the plugin. I fixed the plugin for Sketch 48 couple of days back. Let me know if it still doesn't work and I can reopen the issue.

[2017-12-08 03:13] abynim commented on #116
@kolywater have you tried this with the latest version of the plugin? I updated it two days back to make it compatible with Sketch 48, and this issue _should_ be fixed in the latest update.

[2017-12-08 14:58] dejot commented on #116
Hi Abynim - I think the problem itself is not so complicated, the fact is, that UF is not working in the actual Sketch Version 48.1

I have the problem, that if I select a symol and an artboard and hit cmd+shift+M the info-bar with the message "Link created..." appears, but nothing more happens.

regards

[2017-12-09 09:07] abynim commented on #116
@dejot in that case, run the `Redraw Connections` command and all your connections should reappear. Let me know if that fixes the problem.
If you're seeing the `Link created...` message it means the links are being created but not displayed because you may have previously hidden the links. The plugin assumes you want to keep the links hidden, until you run the`Redraw Connections` command again.

[2017-12-09 14:32] dejot commented on #116
Great. Many thanks - everything works fine now!
All the best!
Best regards
Darko

[2017-12-11 23:27] jberk-godaddy opened #117 "Start w/ selected artboard"
It would be nice if it started w/ the artboard selected when generating a flow.  Currently it doesn't know which one is selected so sometimes starts on random artboard.

[2017-12-11 23:28] jberk-godaddy opened #118 "Overwrite flow artboard"
Since flows need to be constantly regenerated when changes are made, it would be nice if it overwrote the other flow artboard that it had created, instead of always making another one.

[2018-01-19 20:12] kolywater commented on #116
@abynim thanks for the quick response. I'm not able to repro the issue now. I'll close for now and reopen if I experience it again. thanks for all the hard work on this plugin. it's a lifesaver.

[2018-01-19 20:12] #116 closed, assigned to nobody

[2018-02-05 18:45] rolandcedo commented on #99
Agreed. I think this would be able to tell a more specific story when it comes to microinteractions.

[2018-02-06 13:52] torosky commented on #86
Guys when having too much flows, moving one of them and trying to redraw, the "cmd shift 9" command erase the connections folder (doesn't redraws it). Any clue how to fix that?

[2018-02-09 13:38] MattiaPompei opened #119 "Sketch 48 - "Generate Flow Diagram" doesn't include every artboard"
I'm working on a file with 5 artboards, but the plugin generates a diagram with only 3 of them.

![image](https://user-images.githubusercontent.com/35560683/36030274-d0068f74-0da6-11e8-918d-f4b962d704ca.png)
5 artboards file...

![image](https://user-images.githubusercontent.com/35560683/36030293-de168d30-0da6-11e8-9e66-bd04e9297841.png)
...only 3 screens diagram!

[2018-02-14 15:04] abynim commented on #119
@MattiaPompei the plugin exports a flow `outwards` from the Home artboard. So if 01a_ is your Home artboard, the two artboards that lead into it are ignored. I would add one more artboard (probably a conditional) before the first two artboards to explain why you have two entry points to your flow, and make that artboard the Home artboard.

[2018-02-15 09:04] MattiaPompei commented on #119
Thank you abynim. What do you mean with "Home artboard"? How does sketch/UserFlows recognize one particular artboard as "Home"? How does it not set the first two artboards as "Home"?

[2018-02-15 15:52] abynim commented on #119
In the `Generate Flow` window the artboard you select in the option for `Start from:` is set as the Home artboard when exporting the flow. The plugin expects all flows to start with a single artboard. In your case, there are two entry points to the flow so you can use a conditional artboard as the single entry point for the diagram that explains how the flow has two entry points. Like this example

[2018-02-15 16:14] MattiaPompei commented on #119
Ok, now I got It. I was missing that bit: "The plugin expects all flows to start with a single artboard".

[2018-02-15 16:15] MattiaPompei commented on #119
Thank you!

[2018-04-03 07:27] #118 closed, assigned to nobody

[2018-04-03 14:52] jberk-godaddy commented on #118
No comment just closed?

[2018-04-03 16:24] abynim commented on #118
Oops, didn't realize issues get closed automatically when mentioned in merge comments. I added the option to `Update Flow Diagram` in the latest update, which fixes this issue to some extent.

[2018-04-03 17:10] jberk-godaddy commented on #118
oh ok cool thanks!

*Joshua Berk*

On Tue, Apr 3, 2018 at 9:24 AM, Aby Nimbalkar <notifications@github.com>
wrote:

[2018-04-07 14:47] p-saovapakhiran opened #123 "Generating flow diagram is no longer working"
Somehow when generating a flow diagram, it creates an empty page with the name "Page 3." I'm supposed to ship the flow diagram to my client, but now it's not working. Please help!

[2018-04-09 11:59] abynim commented on #123
@p-saovapakhiran Are you using the latest version of the plugin? Can you please check Console.app to see if any errors are logged when you run the Generate Diagram command?

[2018-04-09 12:01] abynim commented on #123
@p-saovapakhiran Also, what version of Sketch are you running?

[2018-04-10 11:29] ghost commented on #123
I'm having the same trouble. When I "Generate Flow Diagram" and complete all the fields in the resulting "Generate a User Flow" dialogue, a new Sketch page is created but it's completely blank / empty.

I checked for User flow plugin updates and got the"You're good" message.

I'm running Sketch #49.3 (51167)

Thanks,
Tim

[2018-04-10 11:34] ghost commented on #123
I don't know if this is any help -

![image](https://user-images.githubusercontent.com/978182/38554702-82d14d40-3cbb-11e8-9d5c-66bb61ff97fa.png)

[2018-04-10 12:13] melaniap commented on #123
Same here. I get  an empty page named **_Page 3_**.
I'm running Sketch 49(51002) on Mac Os Sierra 10.12.6 and the Plugin is up to date.

I get this error
![schermata 2018-04-10 alle 14 19 35](https://user-images.githubusercontent.com/17333206/38556523-4860e47c-3cca-11e8-8e77-5235abfa4ae4.png)

[2018-04-10 14:15] p-saovapakhiran commented on #123
@abynim I'm using Sketch version 49.3 (51167) and User Flows plugin version 2.1.1. Here are screenshots from the console:

<img width="1119" alt="screen shot 2018-04-10 at 21 13 45" src="https://user-images.githubusercontent.com/3438448/38562192-30e051ea-3d04-11e8-9878-f4ff1a34d1aa.png">
<img width="1119" alt="screen shot 2018-04-10 at 21 14 04" src="https://user-images.githubusercontent.com/34384

[2018-04-10 14:31] p-saovapakhiran commented on #123
@abynim Also, in the new version, when links are created, they seem to get messy very quickly. Each link now points to the midpoint on the left edge of the destination artboard instead of the topmost point. This seems to make links crossing each other more often.

Here are the examples:

Previous version:
<img width="1280" alt="before" src="https://user-images.githubusercontent.com/3438448/3856308

[2018-04-11 05:29] abynim commented on #123
Thanks for the details everyone. Looks like I introduced this bug when adding support for the new Sketch Prototype connections. Will fix this and push an update today 👍

[2018-04-12 07:31] abynim commented on #123
@p-saovapakhiran the links pointing to the left mid-point of the destination artboard was added to match the native Sketch way of rendering flow connections. Switching back to the old style would create some edge-cases which I don't know how to handle at this point. So will have to keep that one for later.

[2018-04-16 16:22] joaosimons commented on #123
hey @abynim great plugin. Are you fixing this issue soon?

[2018-04-18 11:49] deniszakalinsky commented on #123
@abynim One of the best plugin ever. But still can't generate workflows, no any dialogs appears. Sketch 47.1.

[2018-04-18 18:05] cetm0109 commented on #88
The latest version (with connectors connecting to the middle of artboards) has broken my documents as I was using the space available between artboards for notes.
Is there a way to be able to select between the top-left corner AND the middle for those of use who already had a workflow in place?
Thank you!

[2018-04-20 03:31] abynim commented on #88
@cetm0109 this has been requested in another issue so it's on the list.

If it is disrupting your work, maybe for now you can switch back to the version before this change was added: https://github.com/abynim/UserFlows/archive/1d15fef1a7dd00eed51a9e1d01f3b85f014b4f92.zip

I'll update this issue once I've added the option to choose between top-left and middle 👍

[2018-04-20 10:21] abynim commented on #123
The `newPageItemTitle` issue has been fixed in the latest update. Also added an `Artboard Magnets` option in Settings to point connections to either top-left corner or north/south/east/west points of the destination artboard.
@p-saovapakhiran @joaosimons @timtops @melaniap please let me know if the update fixes all the issues for you as well. Thanks for helping me debug this 👍

[2018-04-20 14:47] p-saovapakhiran commented on #123
@abynim Thanks a lot! It's now working even better. 👍

[2018-04-20 14:58] cetm0109 commented on #88
@abynim Didn't need to revert to an older version. The latest release fixed my issue AND addd more options!
This is great!
Thank you.

[2018-04-21 06:22] #88 closed, assigned to nobody

[2018-04-21 06:28] abynim commented on #18
Added in version 2.1.1. Select the exported flow artboard and run the `Update Diagram` command 👍

[2018-04-21 06:28] #18 closed, assigned to abynim

[2018-04-21 09:05] #123 closed, assigned to nobody

[2018-04-25 08:12] Myrronth opened #125 "Flows could not be created when using symbols from external library"
As soon as I add a symbol from an external library that is linked by Abstract user flows could not be created or updated. The error message as shown in the console.app is:

[code]

 This is not the case when I use a symbol from the "Apple iOS UI" or "iOS UI Design" library shipped with sketch.

[2018-04-26 17:55] ericWorkmax opened #126 "New Wizard"

[2018-04-26 18:10] #126 closed, assigned to nobody

[2018-04-28 20:40] yuqicornell opened #127 "User flow not working for Sketch version 49 (51167)"
wondering if it is just me or everyone?

[2018-05-09 07:25] abynim commented on #125
Thanks for reporting this one @Myrronth. It should be fixed in 2.1.3

[2018-05-09 07:34] Myrronth commented on #125
Works now, thanks!

[2018-05-10 00:25] ralotusin commented on #102
@abynim this happens to me too.  However it only happens after I generate a flow diagram and go back to edit.

[2018-05-10 06:17] abynim commented on #102
@ralotusin when you create a new artboard or paste artboards into a page, Sketch automatically tries to put the `Connections` group inside one of the artboards. You can fix this by running the `Show or Redraw Connections` command (Cmd+Shift+9). Lemme know if that fixes your problem.

[2018-05-18 00:29] #125 closed, assigned to nobody

[2018-05-18 00:30] abynim commented on #127
@yuqicornell are you running the latest version of the plugin? If yes, do share some more details about what is not working.

[2018-05-18 13:34] yuqicornell commented on #127
Hi @abynim,
I'm running v2.1.3 plugin, and sketch 50.2 (55047).
Please see the gif below. Is there's something I'm not using correctly?

Thanks so much!

![2018-05-18_09-28-15](https://user-images.githubusercontent.com/9273242/40237482-9867a6be-5a7e-11e8-8968-ba31d9cf1098.gif)

[2018-05-19 03:56] abynim commented on #127
@yuqicornell for now the plugin only allows creating a link between a layer and an artboard. So it should work if you select a layer and the destination artboard before running the Create Link command. I'm considering adding the option to link two layers (not just layer and artboard) but it's not supported yet.

[2018-05-21 15:06] yuqicornell commented on #127
Hi @abynim , thank you very much for the clarification! I look forward to it. :)

Thanks again for making this excellent plugin, I deeply appreciated it.

[2018-05-21 15:06] #127 closed, assigned to nobody

[2018-06-12 11:47] boboyee opened #130 "generate flow diagram is not work"
I pressed "generate flow diagram" and have not any popup or feedback.  my version is 46.1

https://youtu.be/CgUFjXnq6WA

[2018-06-15 01:53] abynim commented on #130
The most recent UserFlows update is broken for older versions as it uses newer api methods. If you are unable to update Sketch I would recommend getting an older version of the plugin that works with your version of Sketch.
This commit should work in Sketch 46: https://github.com/abynim/UserFlows/tree/eb7e3ee35200932478746bf56d62113bc51c51df
Just hit the download button on that page and reinstall

[2018-07-04 09:01] Alesclandre opened #131 "Generate User Flows crashes Sketch 50.2"
Hello, everytime I try to generate a userflow, it crashes Sketch...
I tried another version of your plugin (v2.0.6) but no popup are shown (nothing happens).
Here is what my console says for the crashing version (v2.1.3) :
[code]

[2018-07-06 02:04] abynim commented on #131
@Alesclandre does it crash with a specific document or does it also crash with new documents? For Sketch 50+ you should be using the latest version of UserFlows (2.1.3), older versions will not work.

[2018-07-06 05:30] Raghav789 opened #132 "Feature request : straight, cornered and Right angled connection lines"
first of all thanks for this amazing plugin and my request is to have straight, cornered and Right angled connection lines instead of curves. which avoids going over the other artboards.

[2018-07-06 08:03] Alesclandre commented on #131
@abynim Here is what i've just did :

1. I've just opened Sketch 50.2 and created a new document,
2. created 2 artboards
3. created one rectangle on the first artboard
4. Selected the rectangle and the second artboard
5. Created link
6. Generate the flow diagram
7. And then crashes...

I can send you a crash report if you wish

[2018-07-06 09:00] abynim commented on #131
Could you please post a screenshot of your UserFlows Settings? I cannot reproduce the crash. Maybe Im missing some setting.

[2018-07-06 14:45] Alesclandre commented on #131
Here they are (in French) . I'm on Mac OS 10.11.6.
I also removed my name
![capture d ecran 2018-07-06 a 16 44 21](https://user-images.githubusercontent.com/34575194/42385148-37e8888c-813c-11e8-849f-b326d2f0afbb.png)

[2018-07-06 14:49] Alesclandre commented on #131
But hey you know what ? With the default user settings, it works !
It might be the strength of the stroke

[2018-07-06 14:53] Alesclandre commented on #131
And now that it worked once, I can't make it crash...

[2018-07-08 03:37] abynim commented on #131
Glad it's working. Let's close this issue for now, but please reopen it and let me know if you encounter another crash 👍

[2018-07-08 03:37] #131 closed, assigned to nobody

[2018-07-11 09:37] claudiofrs opened #133 "Cannot generate flow diagram in Sketch v51"
Cannot generate flow diagram after Sketch update to v51. The connection is suddenly hidden when I press `Generate flow diagram`. At the previous version of Sketch, usually a new page was created (if you choose to, but it doesn't work either with existing page), and the flow was there.

[2018-07-11 11:37] vincmac commented on #133
Same here,
And If you try to update an already existing flow it deletes the corresponding artboard and brings you back to the last page you were before the _flow page.

[2018-07-11 15:21] abynim commented on #133
@claudiofrs  @vincmac – please try the updated version (2.1.4). These issues should be fixed for Sketch 51. Thanks for the reports 👍

[2018-07-11 22:08] jshmllr commented on #133
Working now for me

[2018-07-16 03:45] #133 closed, assigned to nobody

[2018-07-17 04:48] Raghav789 opened #139 "Feature Request : Integrating with Sketch's built in prototyping tools."
It would awesome if it's possible.

[2018-07-17 07:04] abynim commented on #139
Some insights into how you would use such a feature will be awesome. The plugin already supports the ability to include Sketch Prototyping links in an exported flow diagram. What's missing?

[2018-07-19 06:33] Raghav789 commented on #139
Okay sorry, I just checked it's already there before it had its own linking system.

[2018-07-20 02:15] #139 closed, assigned to nobody

[2018-09-24 08:38] Miraluu opened #140 "<bug> Connect arrow reappearing after delete"
Every time I delete a link (I manually delete the arrow + shape), for some reasons, they always reappear after I create another link elsewhere. It's quite annoying to have to delete the links multiple times before it's actually gone.
If I'm doing something wrong, please advice. Thanks.

[2018-09-28 13:23] abynim commented on #140
@Miraluu to remove a link please select the source layer and use the `Remove Link` command.

[2018-10-02 11:43] ghost opened #141 "Sketch v52 - Plugin seems to have stopped working completely"
Can't add new connections, can't hide or show existing connections. It looks like the layer/art board? the plugin creates has been removed.

[2018-10-02 12:07] abynim commented on #141
Yup, I see it. Looks like a lot has changed in 52. I should have it fixed by tomorrow.

Thanks for reporting 👍

[2018-10-02 17:42] davidjiangny commented on #141
Seconding this, plugin is not working at all. :(

[2018-10-04 08:36] blandineandrieu commented on #86
The plugin does not work anymore with Sketch 52.

[2018-10-04 18:18] junycc opened #142 "I cannot create a link"
I cannot create a link in between the object and the artboard anymore in the latest new update.
Also, it wiped out the links I've done before.
Please fix this issue.

[2018-10-04 19:08] fredfontes commented on #142
Same here!

[2018-10-05 02:07] abynim commented on #142
Just pushed an update with a fix for this.
Let me know if you find any other issues. Thanks for reporting 👍

[2018-10-05 02:10] abynim commented on #141
Thanks for reporting folks.
I just pushed an update with fixes for Sketch 52 🎉
Let me know if I missed anything!

[2018-10-05 10:51] ghost commented on #141
All looks well so far! Thanks so much!

[2018-10-05 23:10] junycc commented on #142
Hi, I am not sure if the issue is fully resolved.
I am able to make a link now.
However, I used to be able to make a shape and link to the next artboard, but I can't do it now.
Could you please double check it?

Thank you so much.

[2018-10-08 06:25] daCapricorn commented on #141
Failed to generate flow if there is any cross page links. Updated already.

[2018-10-08 13:16] fredfontes commented on #142
I'm not able to generate a flow diagram. Nothing happens.

[2018-10-08 18:46] fredfontes opened #144 "Sketch v52 - Generate Flow Diagram not working"
Flow Diagram is not being generating on **52** and **52.1** Sketch versions.
Settings, Connection Style and other features neither.

[2018-10-09 02:15] abynim commented on #144
Thanks @fredfontes. I've pushed another patch update (v2.3.1). Let me know if that fixes the issues.

[2018-10-09 02:17] abynim commented on #141
Nice catch @daCapricorn. Just pushed a new update (v2.3.1). Let me know if that fixes the issue. Thanks for reporting 👍

[2018-10-09 14:57] daCapricorn commented on #141
@abynim work! 👍

[2018-10-10 13:47] fredfontes commented on #144
Sorry, @abynim not working.
I've tried with 52.0, 52.1 and 52.2 =/

[2018-10-10 14:23] abynim commented on #144
@fredfontes could you please post a screenshot of your UserFlows Settings? I'm probably missing some specific combination of settings. Also what exactly is not working?

[2018-10-10 14:31] fredfontes commented on #144
Settings do not popup anything. Generate Flow Diagram, Language and other things neither =(

![userflows-features-not-working](https://user-images.githubusercontent.com/9450302/46743697-05346480-cc80-11e8-95bf-7c5ea4c01d77.png)

[2018-10-10 14:37] abynim commented on #144
@fredfontes any errors showing up in Console.app when you run one of the commands?

[2018-10-10 15:00] fredfontes commented on #144
@abynim here it goes:

padrão	11:59:19.921946 -0300	Sketch	UNIX error exception: 17
padrão	11:59:19.937520 -0300	Sketch	UNIX error exception: 17
padrão	11:59:33.580787 -0300	Sketch	TypeError: null is not an object (evaluating 'strings["alerts-save"]')
line: 1913
sourceURL: /Users/fredfontes/Library/Application Support/com.bohemiancoding.sketch3/Plugins/UserFlows.sketchplugin/Contents/Sketch/script

[2018-10-10 15:41] abynim commented on #144
Looks like there's an issue with the Portuguese localization. Can you try to switch back to English by running this snippet in the custom script window:
[code]

[2018-10-10 17:44] fredfontes commented on #144
Oh, man! I love you.
Worked prefectly ;)

[2018-10-12 15:39] mlaurita opened #146 "Invisible Layers Crashing User Flows"
Hey Guys,

I sometimes have to create invisible "hotspots" using layers with no fill or stroke and linking them to artboards. I think these are causing user flows to regularly crash sketch. Can you guys fix this issue please?

[2018-10-31 12:55] SuryaEko opened #147 "Cannot generate flow diagram sketch (46.2)"
popup not showing, I check in console.app i get this error

line: 819
stack: generateFlow
column: 56

[2018-10-31 13:09] #147 closed, assigned to nobody

[2018-10-31 13:12] SuryaEko commented on #147
duplicate #130

[2018-11-03 20:38] meganlfu opened #148 "Generate User Flow Diagram Not working"
Running on Sketch version 48.2 -- when I click "generate user flows" nothing happens. Thoughts ?
![screen shot 2018-11-03 at 4 37 40 pm](https://user-images.githubusercontent.com/8450322/47957125-c9db3c00-df86-11e8-81d5-896c6bf9afe0.png)

[2018-11-05 17:15] garaujo-edumobi commented on #118
@abynim
Congratulations on the plugin, it helps a lot.

I use Abstract to control the version of artboards and it is indicating that the artboard is being deleted and a new one is being created. This breaks the process of version control, which relies on an artboard to keep the commits organized.

Can you keep the current artboard object while running Update Flow Diagram, updating only the propert

[2018-11-05 17:24] garaujo-edumobi opened #149 "Update Flow Diagram issue"
@abynim
Congratulations on the plugin, it helps a lot.

I use Abstract to control the version of artboards and it is indicating that the artboard is being deleted and a new one is being created when using the Update Flow Diagram feature. This breaks the process of version control, which relies on an artboard to keep the commits organized.

Can you keep the current artboard object while running Upd

[2018-11-07 02:19] abynim commented on #149
Good call @garaujo-edumobi  👍 Thanks for reporting
I've fixed this in v2.3.2. Please test and let me know if it works as expected.

[2018-11-07 11:59] garaujo-edumobi commented on #149
Good job, man. Worked perfectly. Really thanks for keeping this plugin.

[2018-11-07 14:50] #149 closed, assigned to nobody

[2018-11-08 08:14] dew90730 opened #151 "plugin not working for sketch ver.3.6.1"
both with clicking the menu(plugins>user flow>create links) and shortcuts, plugin does now work.
it doesn't create any links or even a pop-up.

[2018-11-12 22:11] ghost opened #152 "Sketch v52.3 + UserFlows v2.3.2 - Cannot Create Link"
Using the latest versions of Sketch (52.3) & UserFlows (2.3.2) I am unable to create a new UserFlow link. Each attempt results in the following error...

<img width="420" alt="screen shot 2018-11-12 at 2 08 23 pm" src="https://user-images.githubusercontent.com/1749958/48378044-72bf2080-e684-11e8-81f6-58fd8917fc3a.png">

I have reviewed any previous issues relating to this that have occurred in the

[2018-11-12 23:31] abynim commented on #152
@graemeasher this does not look like an error from UserFlows. Perhaps the shortcut has been taken over by a different plugin? Please confirm if you see the same message when running the command from the Plugins menu instead of using the shortcut.

[2018-11-12 23:38] ghost commented on #152
I did get the exact same message when running from the plugins menu. Based on your feedback I disabled all additional plugins and UserFlow started working again. It ended up being the Diverse-UI plugin that was causing the issue. Thanks for the feedback.

[2018-11-13 00:02] #152 closed, assigned to nobody

[2018-11-29 21:13] airandfingers opened #153 "Feature request: Label connections"
It'd be nice to be able to label the connection, to annotate what exactly triggers the navigation event.

For example, usually the event is just "Tap", but sometimes I'd want to specify "Enter name" (for a form field) or "After 1 second" (for a transitional screen for which the entire artboard is the link source, as described in https://github.com/abynim/UserFlows/issues/25#issuecomment-266811730)

[2018-11-29 21:27] airandfingers opened #154 "Feature request: multiple connections from same link"
It'd also be nice to be able to add multiple links from a single element, e.g. Success and Error cases.

[2018-12-01 01:08] abynim commented on #153
Any ideas on what this would look like? A rough mockup for reference would be awesome 😄

[2018-12-01 01:16] abynim commented on #154
That is where `Conditions` come in. If you think about it, it is technically impossible for one link to point to multiple screens without some logic to divert it in the right direction. Conditions allow you to document this logic in your design itself. Here's your example in diagram form:
![conditional flow](https://user-images.githubusercontent.com/7082849/49322342-9c63bd00-f549-11e8-890f-faca4ce

[2018-12-01 02:29] abynim commented on #146
@mlaurita not sure why that would crash Sketch. If it happens again please save a crash report and paste it in here. Also let me know what version of Sketch you're using.

[2018-12-01 16:46] airandfingers commented on #154
Ah yes, after I posted this, a coworker showed me how conditions serve this purpose. Thanks for answering!

[2018-12-01 16:46] #154 closed, assigned to nobody

[2018-12-01 17:26] airandfingers commented on #153
Sure, something like this is what I had in mind:

![image](https://user-images.githubusercontent.com/1088051/49330959-02047900-f54b-11e8-92f1-7104bf1e3901.png)

"Tap" is usually assumed, but like I said, it'd be useful to specify things like "Enter name" or "After 1 second" as an alternative.

[2018-12-01 23:13] abynim commented on #153
Thanks for the mockup. I'll look into it 👍

[2018-12-10 17:26] dpac90 opened #155 "Link to artboards on other pages"
I organize artboards on several pages based on function. Would it be possible to link a layer to an artboard on another page?

I understand this might cause difficulties with the final export of the flow diagram, but I do think this would be a valuable feature for larger projects with multiple artboards organized by pages.

[2018-12-13 01:08] abynim commented on #155
Thanks for the suggestion. Technically it's possible, but I'm not sure how the interaction of selecting an external artboard will work. You're also correct about difficulties in exporting the diagram since the plugin picks up absolute positions of artboards, which could cause overlaps. A lot to think about 😄

[2019-01-20 15:51] ghost commented on #151
Same problem.

[2019-01-20 16:18] ghost opened #156 "I cannot create a link"
Create link, Generate flow diagram does not work among several other buttons.

[2019-01-21 00:42] abynim commented on #151
Sorry guys, the latest Sketch version at this time is 52. It's difficult for me to maintain backwards compatibility all the way back to 36 😞

[2019-01-21 00:42] abynim commented on #156
Let me know which version of Sketch you're running.

[2019-01-21 19:24] ghost commented on #156
The version is 52.6

[2019-01-22 00:29] abynim commented on #156
Can't seem to reproduce this issue. Does it happen with a specific document? Could you please share a screenshot of your UserFlows > Settings window? Perhaps it's a specific setting that's causing the issue.
Thanks for reporting and following up btw 👍

[2019-01-22 01:44] ghost commented on #156
Thank you for the plugin and assisting.
The error I get is: Select a layer or group to define as a Link, select the destination artboard, then run this command again.

The settings are: (see attachment1
<img width="469" alt="attachment1" src="https://user-images.githubusercontent.com/12876549/51507045-3ed44a00-1def-11e9-8ea5-ccef72bd36e7.png">
)

I've installed (and uninstalled) probably more than

[2019-01-22 01:51] ghost commented on #156
Also thought it might have to do with the sketch file itself.
So I created a new sketch file, created on page1 (artboard) a rectangle and a triangle and trying to link them through the shortcut and through clicking on "create link" through the plugin section.

No succes, see image
<img width="1680" alt="screenshot 2019-01-22 at 02 50 58" src="https://user-images.githubusercontent.com/12876549/5150

[2019-01-22 01:52] abynim commented on #156
To create a Link you must have only two items selected, one of them should be a layer/symbol/group and the second should be an artboard. Could you try running the `Create Link` command with only the group and artboard selected?
Creating links between two layers is unfortunately not supported at this time.
Let me know if that works. I probably need a better error message there to make it clear.

[2019-01-22 01:58] abynim commented on #156
Here you have two shapes selected. If one of them is an artboard it _should_ work.

[2019-01-22 02:12] ghost commented on #156
You're right, it was my wrongdoing as I was not selecting a artboard.
Thank you for clarifying.

It works fine!

[2019-01-22 02:12] #156 closed, assigned to nobody

[2019-02-01 12:10] AleksandraSeroka opened #157 "User Flow doesn't customise"
I'm trying to make my user flow custom with different color etc. but it works only for some groups and connections, not for the others. What can be the issue? Cheers

[2019-02-01 13:26] #157 closed, assigned to nobody

[2019-02-05 15:30] rdoyle720 opened #158 "Update Flow Diagram generating additional export"
When I use Update Flow Diagram, it generates an additional export, i.e. the artboard will be set to export 1x, after running Update Flow Diagram, it will be set to export 1x and 2x.

[2019-02-06 00:12] abynim commented on #158
Nice catch! Fixed in the latest update 👍

[2019-02-06 00:12] #158 closed, assigned to nobody

[2019-02-06 12:29] meecasso opened #160 "Sketch 53 Update - Unlink connection issues"
The ability to unlink/remove a connection seems to be broken with the latest update to Sketch (53)for some elements (not all)

On certain items (this one is a vector):

Shortcut doesn't remove connection
Menu doesn't remove connection
Delete asset and add same asset, connection reappears
Delete connections from connection folder, add asset back in, connections reappear

[2019-02-07 04:29] abynim commented on #160
@meecasso Thank for reporting, but I cant reproduce this 🤔  Can you please check Console.app if it shows any errors when you run the command from the menu? Could also be specific to your settings, so please add a screenshot of your UserFlows settings so I can try to reproduce it here.

[2019-02-08 02:01] dew90730 opened #161 "can not create userflow diagram"
v.2.3.3, latest version
can not create userflow diagram.
it just creates a copied artboard and an copied image of the artboard selected as 'start from'.

sketch is version 53, which is the latest one.

[2019-02-08 04:25] abynim commented on #161
@dew90730 Please add a screenshot of your UserFlows settings so I can reproduce your exact environment. Thanks!

[2019-02-08 04:26] #151 closed, assigned to nobody

[2019-02-10 09:16] rabbit-roger commented on #160
I have the same problem. All links are down. I reinstalled the plugin and reset the settings to default and nothing helps. When I show/redraw flow, I stop seeing artboards. They are just white:

![image](https://user-images.githubusercontent.com/1038019/52531911-597e4c80-2d25-11e9-806e-7b48a49c291d.png)

When I tried to generate a diagram, I got this:

![image](https://user-images.githubuserconten

[2019-02-10 23:36] abynim commented on #160
Still can't seem to reproduce this, even with default settings. Does it only happen with this specific page/document or can you successfully reproduce it even in a new document with a simple flow? Could you also please check Console.app if it shows any errors from Sketch when you run the command? Thanks @Mihkach

[2019-02-11 07:07] rabbit-roger commented on #160
@abynim  I checked all my files and only in two of them I see this problem. It is very strange.

[2019-02-12 12:59] abynim commented on #160
Wow, so weird. Would it be possible to share any one of those documents?

[2019-02-15 16:50] rdoyle720 opened #162 "Can't generate in Sketch 53.1?"
Updated to Sketch 53.1 this morning. Now when I use the Generate Flow Diagram option and click Generate Diagram, nothing happens.

[2019-02-17 04:56] abynim commented on #162
@rdoyle720 thanks for reporting. Do you see any errors in Console.app when you click Generate Diagram?

[2019-02-18 10:34] alvarotrapote commented on #162
Same problem here. I've got this error (from Console.app)
[code]

Thanks for this awesome plugin :)

[2019-02-18 10:45] alvarotrapote commented on #162
By the way, as a workaround, commenting line 1002 from UserFlows.sketchplugin seems to solve the issue.

[2019-02-19 01:10] abynim commented on #162
@alvarotrapote thank YOU for help with debugging! Fixed and updated 👍
@rdoyle720 hope the update fixes the issue for you as well. Please reopen the issue if that's not the case.

[2019-02-19 01:10] #162 closed, assigned to nobody

[2019-02-20 21:24] meekjt commented on #161
@abynim I have the same issue, here are my settings:
<img width="486" alt="screen shot 2019-02-20 at 16 23 13" src="https://user-images.githubusercontent.com/6875502/53125364-d7173900-352b-11e9-8cbf-8ac35bc94453.png">

[2019-02-24 21:25] janusc commented on #161
Have the same problem.
![image](https://user-images.githubusercontent.com/129480/53305511-a7956300-3882-11e9-90de-506965ba5406.png)

Screenshot of where the plugin doesn't create a new page and there is a bitmap of the first selected artboard on top of the artboard.

Really appreciate your plugin a lot :-)

[2019-02-26 04:07] abynim commented on #161
@meekjt @janusc Thanks for reporting. Do you see errors logged in Console.app when trying to generate a diagram?

[2019-03-03 05:10] danielthall commented on #161
I am having the same issue with Sketch 53.2

Here is the output to the console:

[code]

[2019-03-03 09:35] abynim commented on #161
Thanks @danielthall the log was very helpful. Could you please install the version from this branch and confirm if the issue is fixed: https://github.com/abynim/UserFlows/tree/sketch53-2-compatibility

[2019-03-03 09:37] danielthall commented on #161
@abynim You're amazing! Yes, that fixed it. Thank you so much.

[2019-03-03 10:12] abynim commented on #161
Awesome! Thanks for confirming. Merged 👍

[2019-03-05 04:08] danielthall commented on #161
@abynim Sorry- but I am seeing another error on another machine. Same file, same sketch version, using the latest plugin release:

[code]

[2019-03-05 07:59] abynim commented on #161
@danielthall does it also show the same error message? In your previous log you had `TypeError: ...` but that's missing here.

[2019-03-05 08:08] danielthall commented on #161
I'm sorry, I had a formatting error with my comment! I just updated it.

[2019-03-05 21:46] rdoyle720 opened #164 "Feature Request - Reorder Conditions without breaking connections"
Sometimes I have multiple conditions and need to reorder them for some reason. If I do that today I have to redo the connections. I'd find it handy to be able to move the conditions up and down in the list and preserve their connections.

[2019-03-06 13:31] danielthall commented on #161
I can confirm that this doesn't always occur. Some flows seem to be fine, while others have a TypeError almost immediately. Trying to dig in and see if I can tell what it is that it doesn't like.

[2019-03-06 23:27] abynim commented on #161
Yeah, I could not reproduce this at all. Will dig deeper this weekend when I have some more time. At the very least I can wrap it in a `try.. catch` and have it fail elegantly whenever it does.
Thanks for helping debug this @danielthall 🙌

[2019-03-06 23:29] abynim commented on #164
Good call 👍

[2019-03-07 00:29] danielthall commented on #161
@abynim Good thinking! I just did that locally and it seems to have fixed it.

Looking into it, I think I have identified the actual problem. I have a symbol that is called `Transparent` that I use as a color override sometimes. That is actually just a blank symbol with nothing in it, and that's what was causing the error. I don't think I actually need this symbol anymore, but even so, failing gra

[2019-03-11 14:14] danielthall commented on #161
@abynim Would you like me to create a PR for adding the `try ... catch`?

[2019-04-24 17:27] mattbaldo100 commented on #160
Hey - using the plugin on Sketch v54.1

I had the same issue on what was a massive project file (artboards, not file size) which could have been a contributing factor.

Testing the 'user flows' function in your plugin seems to align to all existing links - so the connections are still valid - but they render in a completely different position to where they should be.

As an emergency work-around I

[2019-04-25 06:00] abynim commented on #160
@mattbaldo100 can you please try the following steps:
- save a copy of your document
- then open Console.app
- then enable the plugin and let it fail
- check Console.app if any errors are being logged
- post the errors back here

Thanks 👍

[2019-04-30 09:15] mattbaldo100 commented on #160
Hey -

(I'm not a developer so I'm sorry if this is incorrect / useless) - but this is what popped up in the console: (after I'd used the keyboard shortcut to 'Show or redraw connections'

Fault:
CGImageSourceCreateWithData:3054: *** ERROR: CGImageSourceCreateWithData: data is nil

Error:
Passed filters are not valid. Unable to build predicate

Hope this helps!

Cheers

Matt

[2019-05-03 17:08] danielthall commented on #161
@abynim Following up about this issue. Happy to put a PR in

[2019-05-04 00:10] abynim commented on #161
@danielthall Yes please, that would be very much appreciated. Thanks for following up 🙏

[2019-05-09 16:48] danielthall commented on #161
@abynim I have the work done in a branch, but I don't have access to make a PR here

[2019-05-12 03:28] abynim commented on #161
Added you as a collaborator 👍 Please feel free to merge your changes unless you think a review is absolutely required.

[2019-05-12 05:57] #161 closed, assigned to nobody

[2019-05-12 05:57] danielthall commented on #161
Cool thanks! Just merged into the v2 branch!

[2019-05-16 15:59] chrissy-pipetti opened #166 "UserFlows breaking my entire UX map"
Hi there—every time I use one particular page in my Sketch file, the user flows are moved away from my artboards and my artboards all appear blank. I can click on the elements within the artboards, but cannot do anything else. I can't redraw connections, or use the plugin at all only on this particular page. My other flows are all fine. I've restarted Sketch, reinstalled the latest version of the

[2019-05-17 02:41] abynim commented on #166
@chrissy-pipetti would it be possible to privately send me the Sketch document with just this page? That would be the fastest way for me to debug the issue. You can email it to abynimbalkar at gmail.

If that's not possible, try this:
- Open Console.app from `Applications > Utilities`
- Filter the logs by typing Sketch in the search field
- Try to Redraw Connections on that page
- See if anything

[2019-09-04 18:10] ghost opened #167 "Sketch 57 - Generate Flow Diagram not working w/ existing Sketch prototyping links"
I am attempting to generate a flow diagram using the built-in Sketch App prototyping links, however when I **_select all artboards > Generate Flow Diagram_**, I only get a single artboard with a link in my new flow diagram page.

Sketch Version 57.1

[2019-09-06 04:12] abynim commented on #167
Hi @nlourtsd. I can't seem to reproduce this.

By the way, you don't need to *select all artboards* first. You can run the *Generate Flow Diagram* command with nothing selected, then in the dialog you need to select the initial artboard of your flow. The plugin will automatically detect links originating from this initial artboard and generate a diagram from that point onwards.

If it's still not

[2019-09-11 21:05] ghost commented on #167
Thank you, selecting the initial artboard was key for successfully generating the flow diagram.

[2019-09-12 03:11] abynim commented on #167
Thanks for confirming!

[2019-09-12 03:11] #167 closed, assigned to nobody

[2019-09-12 03:12] #166 closed, assigned to nobody

[2019-10-22 10:07] grandbetazeta opened #168 "2.3.5 Seems not working on MacOS Catalina 10.15"
First of all, thank you for your affort Aby,

Acutally I'm not sure, but it just not working properly after I've updated MacOS 10.15 recently.
![Screenshot 2019-10-22 at 18 01 17](https://user-images.githubusercontent.com/56870677/67275869-0f757980-f4f6-11e9-8907-7a3408dfdd0e.png)
(Even the check boxes are broken.)

[2019-11-04 09:01] grandbetazeta commented on #168
Hope these information would help,
It is running sketch 53.1

About the broken interface
NSSwitchButton retired in MacOS 10.15
https://developer.apple.com/documentation/appkit/nsswitchbutton?language=objc
--------
The console checking for error and spot these lines:

TypeError: null is not an object (evaluating 'NSFileManager.defaultManager().URLsForDirectory_inDomains(NSCachesDirectory, NSUserDom

[2019-11-25 18:22] sanjaay opened #169 "Generate Flow diagram does not generate complete flow"
Used with Sketch 60.1

When I create a flow with conditions, after connecting the flow and using "Generate Flow diagram" it does not generate the complete flow. It only generates part of the actual flow.

[2019-12-16 23:02] joelandrewbrown opened #170 "In a generated flow, the numbering seems odd"
I organize my artboards in the layer palette, anyone have any ideas on how to keep the numbering of a generated flow in order of artboards in the layer palette? It seems to be random, but I'm likely just not understanding how it's supposed to work.

[2019-12-16 23:04] joelandrewbrown commented on #169
Hey @sanjaay - I ran into this as well. It seems to only generate artboards that are in fact connected. If you have any artboards that aren't connected to the flow somehow they won't be generated! Hope this helps.

There have been times I "thought" everything was connected, but on further inspection I was missing something somewhere.

[2019-12-16 23:10] parkerkuncl commented on #169
Unsubscribe

--------------------
Parker Kuncl
323-459-0814

[2019-12-17 03:19] abynim commented on #170
The numbering is based on how the screens are connected. It was mostly meant as a way to identify screens when presenting the flow over a call or when providing feedback over email (saying "Screen 4 has an issue" is easier than saying "6th screen from top has an issue").

I see how you might want your own numbering system though. Making numbering optional would help, maybe?

[2019-12-17 03:24] abynim commented on #169
Correct. The plugin only traverses artboards that are connected starting from the Home artboard you select when generating a flow. There is no way for the plugin to know which other artboards you want to include in the flow.

Let me know if it's not generating complete flows even for artboards that are connected, that might be a bug. If you can link to a demo Sketch doc to help reproduce the issue

[2019-12-17 19:25] joelandrewbrown commented on #170
Thanks for clarifying that! That makes sense. In my case, hiding the numbers and/or the option for the numbers to follow the sequence of the order of artboards in the layer palette (top to bottom) would be super helpful. I have 154 artboards with multiple connections all over the place so the order-of-flow sequence doesn't work well for me in this case.

[2020-03-02 08:34] extrides opened #171 "Created flow links are not visible before generating a diagram. On the diagram they are light grey."
I'm on Sketch 63.1 and using the latest version of the plugin (v2.3.5)

Created links do not show up on the artboards, but they are working as I'm able to generate a flow diagram. However, on the diagram the link style is not the default orange. I've checked the plugin settings and they are set to default.

[2020-04-03 07:28] gayco opened #172 "No links appear"
Hi!
Every time I click create link (cmd+shift+M) it appears this label (image attached).
<img width="497" alt="Captura de pantalla 2020-04-03 a las 9 26 19" src="https://user-images.githubusercontent.com/63093324/78335050-31872380-758d-11ea-83af-a8a1e91d5e86.png">

Can someone help me?
Thanks

[2020-04-03 07:31] abynim commented on #172
This happens if you've previously chosen to hide connections. Try running `Plugins > User Flows > Show or Redraw Connections` and you should see the links being drawn instead of this message.

[2020-04-03 08:01] gayco commented on #172
Wow...you saved my life!! thank you so much!

[2020-04-03 08:26] #172 closed, assigned to nobody

[2020-07-06 16:32] acarlenaon opened #173 "Plugin doesn't work as expected in Sketch Version 67.1 (100412)"
Hi there Aby!

First of all, thanks for such a useful plugin, it's really a life saver for me & the other designers of the team. I wanted to reach out to you to report a weird behaviour when I generate the user flow in the last version of sketch: after all the connections are made, when I try to Generate User Flow (Add to page _Flows & the two checkboxes enabled) the folder with the connections go

[2020-07-07 02:00] abynim commented on #173
Hi Alejandro, I can't seem to reproduce this issue. Could you please post a screenshot of your UserFlows > Settings? It could be some setting that's breaking it so it'll be easier to debug if I can recreate your environment here.

Also, if possible, can you please check Console.app (available in Applications > Utilities) and see if there are any error logs when you run the Generate User Flow comma

[2020-07-07 14:59] enniz commented on #173
Hi Aby, thanks for your great work done on User Flow it is a very lifesaver plugin and the only user flow tool which actually works.

I'm experiencing the same issue as Alejandro using the version: 67.2 (100443). I'm able to draw the flow but it's impossible to generate it.

I've recorded my screen so that you can have a better view of what is happening.
you can view it at the following link:
[htt

[2020-07-08 01:27] abynim commented on #173
Hi Marco, thanks for the video and the error log. That made it quite easy to find the issue. I've published a fix in a separate branch. Could you please install the plugin from here and let me know if the issue is resolved so I can merge it into the main branch? Get it here: https://github.com/abynim/UserFlows/archive/sketch-67-fixes.zip

[2020-07-08 06:36] enniz commented on #173
Hi Aby, the fix works 🥳  🥳  🥳. Thanks so much!!!!

[2020-07-08 07:04] abynim commented on #173
Thanks for the confirmation. Changes have been merged.

[2020-07-08 07:04] #173 closed, assigned to nobody

[2020-07-08 15:31] acarlenaon commented on #173
Thank you both sorry for not being able to respond earlier!

[2020-10-16 09:26] kevintoepfer opened #175 "Feature Request: Use different icons for 'Remove Link' and 'Remove All Links'"
As a user, I want to distinguish the functions 'Remove Link' and 'Remove All Links' just by their icons. For example when placing them in the RunBar from Sketch Plugin Runner Pro:

<img width="133" alt="Bildschirmfoto 2020-10-16 um 11 23 43" src="https://user-images.githubusercontent.com/53897272/96241155-136d9780-0fa2-11eb-8c75-c273ea5f5751.png">

[2021-02-23 08:07] miltontsai opened #176 "plugin "User Flows" doesn't work on a M1 MacBook Air with Sketch App build 70.5"
Hello Abynim

I just switch to a M1 MacBook Air yesterday from a Intel MacBook Air.   And I also switched my Sketch license to the new machine.

Today I opened a project which included the use of plugin User Flow, and found that I couldn't use it at all.  Not even able to create a link between objects and Artboards like how it use to work.

The same file works fine on the Intel MacBook Air last we

[2021-02-24 01:48] abynim commented on #176
Hi Milton, unfortunately I don't have access to an M1 Mac to try and reproduce this. Can you please check if the Sketch 70.6 update released earlier today fixes the issue? Apparently the update includes fixes for some plugins on M1 Macs.

In general, UserFlows does not use any native frameworks so behavior on M1 Macs should not be a problem. I'll try to look into it as well, but please let me know

[2021-02-24 02:22] miltontsai commented on #176
Hi Abynim.

Thank you so much for getting back to me so quick.

Well, with all my hope, the 70.6 didn't work as well (sad).

Yes, like you explained, this is probably an issue from Sketch.  I reported this to them as well.

I did a short screen recording if you are interested to take a look.
https://www.icloud.com/iclouddrive/0BHeukeTCoMFWzhylzrRqYJzw

[2021-02-24 04:48] abynim commented on #176
Wow, so weird.

Is it possible for you to check the logs and see if that gives us any clues? You'll need to open Console.app from Applications > Utilities, then in the search field you can filter logs by "Sketch". Then run the same action (creating a link) and see if anything is logged in the console.

Thanks for your help with this 🙏

[2021-02-24 04:57] abynim commented on #176
One more thing to test is whether opening Sketch with Rosetta fixes the issue. This can be done by right-clicking the Sketch app bundle, selecting to Get Info, and choosing the option "Open using Rosetta".

[2021-02-24 06:54] miltontsai commented on #176
I tried to open Sketch with Rosetta, and it works 👍     And this is probably going to be my temporary solution before Sketch fix this.

I also try to get a log from console.app.
Not sure how to export a correct format, so I just copy and paste them here.

My MacOS isn't running in English interface, therefore the word "錯誤" means mistake or error.   I hope this helps.

-------

錯誤	14:40:48.512372+0

[2021-02-24 11:12] abynim commented on #176
Thanks @miltontsai. I will check with the folks at Sketch to see if they know what might be going on. Good to know you have a temporary workaround for now.

[2021-03-02 09:45] bomberstudios commented on #176
Quick FYI: we’ve fixed this internally, and UserFlows will work as expected in the next Sketch version. Sorry about the troubles!

[2021-03-12 11:07] nagyordog commented on #176
Yeah exact same problem. Didn't realise that it was due to the M1 oh well to bad this was a really great plugin

[2021-03-15 01:46] miltontsai commented on #176
@nagyordog

from what I understand, the issue is not on the plugin itself.   Because you can force Sketch to run in Rosetta mode with my M1 MacBook Air and it works fine.  I believed this will be fixed on next Sketch updates.

https://github.com/abynim/UserFlows/issues/176#issuecomment-784761940

[2021-03-15 05:37] nagyordog commented on #176
Hello, this is correct, thank you I did some research and found the same information. It all works, thank you

Sent by Siri, please excuse miscommunization  like this.

[2021-03-24 06:19] miltontsai commented on #176
@abynim

I just updated to the latest Sketch App Version 71 (115005), and run it without Rosetta.  Everything looks good now.

thanks again for such a great plug-in and your prompt reply.

[2021-03-24 06:19] #176 closed, assigned to nobody

[2021-03-24 06:20] abynim commented on #176
Thanks for following up @miltontsai

[2021-04-22 03:01] boydwork opened #177 "Generate Flow Diagram Bug"
As the sketch version is upgraded, when you click the Generate Flow Diagram menu, the artboard is created by cutting the width of the artboard.

[2021-04-22 03:12] abynim commented on #177
@boydwork which version of Sketch are you using? Also, does the flow contain links created via the plugin or Sketch prototyping links?

[2021-04-22 03:28] boydwork commented on #177
@abynim
It is currently version 71.2. And it doesn't contain the prototype link you mentioned.
This case seems to occur from version 70.6 or later.

When the dialgram was created, the artboard was created because the horizontal size of the artboard was correctly aligned, but the sketch was updated and it was not created properly.

I'm working on design in Korea. The UserFlows plugin you developed

[2021-04-22 04:12] abynim commented on #177
@boydwork thanks for the details. I can reproduce it. Will check what's going on 👍🏽

[2021-04-22 08:37] abynim commented on #177
@boydwork can you please try installing the update from the branch with fixes and tell me if it's working for you? Just want to confirm before merging.

https://github.com/abynim/UserFlows/archive/refs/heads/sketch-72-fixes.zip

[2021-04-22 09:27] boydwork commented on #177
@abynim I just installed the improved plugin you mentioned and it has confirmed that it works very well. thank you.

[2021-04-22 10:16] abynim commented on #177
@boydwork thanks for the confirmation, and also for reporting the issue 🙏🏽

[2021-04-22 10:17] #170 closed, assigned to nobody

[2021-04-22 10:21] #177 closed, assigned to nobody

[2021-04-22 10:22] abynim commented on #170
Better late than never!

[2021-05-12 14:31] Beatriz215 opened #179 "Can't generate flow diagram"
Used with Sketch 54.1

I have linked some screens and when I'm trying to "Generate Flow diagram" it does not generate the flow and I can't see the page "_flows" on my pages list.

Can you help-me please?
@

[2021-05-12 14:40] abynim commented on #179
@Beatriz215 I will check tomorrow since I need to download the older version. Meanwhile, if possible, could you please check if there is anything showing up in the logs when you try to generate a flow?

You can open Console.app from Applications/Utilities and filter the logs by "Sketch". Then switch over to Sketch and try the command again, and let me know if you see anything in Console.app. Thank

[2021-05-12 15:02] Beatriz215 commented on #179
@abynim Thanks for your quick reply.
Please let me know if the prints bellow is what you need:

![Screenshot 2021-05-12 at 16 00 15](https://user-images.githubusercontent.com/29485846/117997831-40690980-b33b-11eb-87cd-b349e2fcb3db.png)
![Screenshot 2021-05-12 at 15 59 08](https://user-images.githubusercontent.com/29485846/117997821-3e06af80-b33b-11eb-997d-15dcc47334bb.png)

[2021-05-12 15:34] abynim commented on #179
@Beatriz215 This is weird! Which version of macOS are you running? And can you please confirm if your Sketch app is inside the Applications folder?

Also, was this working before and stopped working recently? Trying to understand what might have changed, if it was working before.

Thanks for helping debug this 🙏🏽

[2021-05-12 15:57] Beatriz215 commented on #179
@abynim

I'm running macOS Catalina version 10.15.4

I just checked and my Sketch app was not inside Applications folder. I just moved Sketch app to this folder and I tried again generate user flow but the issue still remains.

I've tried and installed this plugin today for the first time.

Thanks for your time again.

[2021-05-12 17:57] abynim commented on #179
From the error it looks like a permissions issue (it seems you're not able to access the system cache folder). After moving Sketch to Applications folder, can you please try restarting your Mac? Please let me know if you still see the same issue in Console.app after restarting.

[2021-05-13 08:46] Beatriz215 commented on #179
@abynim I've noticed that when I trying to generate user flow by clicking it, all links (Arrows) disappears from the screens.

I've restarted my Mac and the issue remains:

<img width="997" alt="Screenshot 2021-05-13 at 09 43 17" src="https://user-images.githubusercontent.com/29485846/118101853-f7af6000-b3cf-11eb-9673-057e5ff5ee92.png">

[2021-05-13 14:20] abynim commented on #179
@Beatriz215 this is so strange! Can you please try using an older version of the plugin from here: https://github.com/abynim/UserFlows/archive/f54a597946371b956f2efb7585ae7912cd1c5a0d.zip

Maybe I broke something for Catalina when I updated the plugin recently. Please let me know. Thanks 🙏🏽

[2021-05-13 14:51] Beatriz215 commented on #179
@abynim I've closed my sketch app and I noticed that I had a missing update
After updating, I had to update the plugin as well  and now I'm able to generate the user flow!

Thanks for all your support, this plugin gonna change my life 👏 haha

[2021-07-30 08:08] Cople opened #180 "Update Flow Diagram will add numbers to artboard names"
The original flow is generated without numbers, but update flow will force to add numbers.

[2021-08-06 00:52] abynim commented on #180
Thanks for reporting @Cople. I knew I had forgotten something. Will fix.

[2021-11-08 02:09] kamiyarsanau opened #181 "Sketch 79 - Flow diagram creation does not work"
MOJavaScriptException: Error: An Obj-C exception occurred.
[native code]
generateFlowWithSettings script.js:1642:35
generateFlow script.js:1480:29

Error shown after clicking "Generate flow"

[2021-11-15 14:37] ghost opened #182 "Settings dialogue doesn't open"
When I go to Plugins > User Flows > Settings..., the Settings dialogue window doesn't open.

Keyboard Shortcuts... and Language... both work OK.

Weird

Thanks
Tim

Sketch 79.1
macOS 12.0.1

[2021-11-16 14:53] pchamberlin opened #183 "Settings will not display"
I'm unable to launch the Settings dialogue window, it doesn't open.

Thanks
Patrick

[2022-01-20 01:47] kamiyarsanau commented on #183
+1

[2022-01-20 01:47] kamiyarsanau commented on #182
+1

[2022-01-20 01:49] kamiyarsanau commented on #181
+1

[2022-02-09 14:48] ghost opened #184 "Plugin broken"
Hi,

I'm guessing you're not maintaining this plugin anymore? It seems completely broken now. When I try and show or redraw connections it creates a whole bunch of new flow arrows not in a folder and doesn't remove any of the old ones. It's pretty close to unusable now sadly.

[2022-03-10 11:50] ghost opened #185 "Please fix 🙏🏼"
Sketch's updates mean this no longer works 😢

This was the best flow plugin available.

Please help

Thank you

[2022-03-17 02:59] kamiyarsanau commented on #185
Bump, same here, would love for it to be updated in working condition

[2022-03-17 21:33] MamaMac commented on #183
Please fix this wonderful plugin!!!!

[2022-03-17 21:38] MamaMac commented on #185
Please don't abandon this plugin!!! Our entire team depends on it. THERE IS NO OTHER PLUGIN LIKE IT!! Right now it blows up: it keeps re-adding flow lines, it remembers old ones no matter how many times they are deleted. Remove all on current page doesn't work. Every time I add one arrow, it duplicates all of them. Please Please Please fix this because it is such a great plugin. At least reply to

[2022-03-17 21:45] MamaMac opened #186 "If this Plugin is abandoned, Please say so."
This is a great plugin - there isn't one like it anywhere. If it is no longer being maintained, please say so.

[2022-03-19 17:51] samhails commented on #185
Please please please - same here, i completely depend on this for documentation, there is no substitute.

[2022-03-23 01:29] boydwork opened #187 "please update"
Hello.
@abynim
It seems that the plug-in does not work from sketch version Version 78 (131919) or later.
I've been using it so well and I think it's an irreplaceable plugin.
please update

[2022-03-23 17:15] Arijel opened #188 "SKETCH Version 85 UserFlows DOESN'T WORK!!!"
I followed the indications but it doesn't work.
Please could you give an update?

[2022-04-08 18:39] abynim commented on #180
Fixed in v 2.3.9.

[2022-04-08 18:39] #180 closed, assigned to abynim

[2022-04-08 18:41] abynim commented on #181
Should be fixed in v 2.3.9. Please test if you get a chance. Thanks!

[2022-04-08 18:41] #181 closed, assigned to nobody

[2022-04-08 18:41] abynim commented on #182
Should be fixed in v 2.3.9. Please test if you get a chance. Thanks!

[2022-04-08 18:41] #182 closed, assigned to nobody

[2022-04-08 18:42] abynim commented on #183
Should be fixed in v 2.3.9. Please test if you get a chance. Thanks!

[2022-04-08 18:42] #183 closed, assigned to nobody

[2022-04-08 18:45] abynim commented on #184
Should be fixed in v 2.3.9. Please test if you get a chance. Thanks!

Sorry for the delay in fixing the issues. I'm struggling with burnout and couldn't find time to work on the plugin 😔 Thanks for being so patient.

[2022-04-08 18:45] #184 closed, assigned to nobody

[2022-04-08 18:47] abynim commented on #185
Should be fixed in v 2.3.9. Please test if you get a chance. Thanks!

[2022-04-08 18:47] #185 closed, assigned to nobody

[2022-04-08 18:47] abynim commented on #186
Sorry for the delay in fixing all the issues. I'm struggling with burnout and couldn't find time to work on the plugin 😔 Thanks for being so patient.

[2022-04-08 18:47] #186 closed, assigned to nobody

[2022-04-08 18:48] abynim commented on #187
Should be fixed in v 2.3.9. Please test if you get a chance. Thanks!

[2022-04-08 18:48] #187 closed, assigned to nobody

[2022-04-08 18:48] abynim commented on #188
Should be fixed in v 2.3.9. Please test if you get a chance. Thanks!

[2022-04-08 18:48] #188 closed, assigned to nobody

[2022-04-11 04:29] boydwork commented on #187
@abynim Thank you

[2022-04-11 09:58] ghost commented on #185
AMAZING!!!!! 🥰 🥰 🥰 🥰 🥰 🥰 🥰 🥰 🥰 🥰

[2022-04-11 10:35] samhails commented on #185
You are absolutely the best 👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏

Sent via mobile, may contain typos courtesy of autocorrect.

[2022-04-12 02:55] #179 closed, assigned to nobody

[2022-04-12 02:56] #169 closed, assigned to nobody

[2022-04-12 02:57] #146 closed, assigned to nobody

[2022-04-13 20:49] GitPhorus opened #191 "Preferences > Plugins shows Version 2.3.9 Available"
Sketch Version 71.2 (115329).  In Preferences > Plugins it shows an update to Version 2.3.9 Available.  After uninstalling and reinstalling User Flows the notification returns.

<img width="519" alt="Screen Shot 2022-04-13 at 1 18 26 PM" src="https://user-images.githubusercontent.com/4356303/163266961-1c6c5b25-ff37-4c49-9259-59197692909d.png">

A result of not being able to update is the persisten

[2022-04-14 02:36] abynim commented on #191
🤦🏻‍♂️ This is what happens when I try to publish an update at 2am! I've changed the version now, so updating one last time should fix it. Thanks for reporting!

[2022-04-14 17:50] GitPhorus commented on #191
Thank you for fixing and for this plug-in!

[2022-04-14 17:50] #191 closed, assigned to nobody

[2022-04-21 06:22] miltontsai commented on #186
@abynim Thank you so much for updating this wonderful plug-in.

This is by far the best plug-in for making User Flow document.  I'm having difficulty on alternative ones anywhere.  And this is the major reason that I kept using Sketch and not migrate to Figma.  (It would be great to have this plug-in on Figma as well.)

Please consider this a paid plug-in, and I would very much like to pay for it.

[2022-09-06 13:32] byboll opened #192 "Flows duplicated when an artbard is dragged"
I'm currently using Sketch 92, User Flows 2.3.9
macOS Monterey (version 12.4)

When I create a link between artboards, if I drag one of the artboards, the flow is duplicated.

Before and after dragging an artboard :
![Capture d’écran 2022-09-06 à 15 30 11](https://user-images.githubusercontent.com/112955464/188648200-1890c5f2-e651-424e-94ae-1613f4be23f6.png)
![Capture d’écran 2022-09-06 à 15 3

[2022-09-30 05:36] kamiyarsanau opened #193 "Sketch 93 - "Create link" not working"

[2022-09-30 05:46] #193 closed, assigned to nobody

[2022-11-04 01:14] GitPhorus opened #194 "Ventura 13.0 Causes User Flows to Stop Working"
It appears that the latest Mac OS, Ventura 13.0, causes all of User Flow's functions to stop working in Sketch v.75.  I rely heavily on this plugin and greatly appreciate it.

[2022-11-07 15:56] pietroG1987 commented on #194
Same here, with Sketch v.83 and v.84.
Thank you!